<!DOCTYPE html>
<html    xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex" />
    <!-- 共通CSS -->
        <link rel="stylesheet" th:href="@{/css/normalize.css}">
        <link rel="stylesheet" th:href="@{/css/common/common.css}">
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
        <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <!-- グーグルフォント -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Select2 -->
        <link rel="stylesheet" th:href="@{/css/select2.min.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/select2.min.js}"></script>

    <title></title>
</head>

<body>

<!-- ヘッダー -->
<header layout:replace="~{common/header::header}"></header>

<!-- メイン -->
<main class="main">
    <!-- 左カラムメニュー -->
    <section class="main-nemu">
        <nav id="main-menu-nav">
            <div layout:replace="~{common/menu::menu}"></div>
        </nav>
    </section>

    <!-- コンテンツ -->
    <section class="main-content">
        <div layout:fragment="content"></div>
    </section>
</main>

<!-- フッター -->
<footer layout:fragment="~{common/footer::footer}"></footer>

</body>
</html>