<!DOCTYPE html>
<html    xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NTMBZJ9R');
    </script>
    <!-- End Google Tag Manager -->

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css(v=${'1.3.14'})}">
    <link rel="stylesheet" th:href="@{/css/common/header.css(v=${'1.2'})}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/login.css}">
    <link rel="stylesheet" th:href="@{/css/manga/user.css(v=${'1.1.1'})}">
    <link rel="stylesheet" th:href="@{/css/manga/review.css}">
    <link rel="stylesheet" th:href="@{/css/test/mini-status-btn.css}">
    <link rel="stylesheet" th:href="@{/css/common/search-module.css}">
    <link rel="stylesheet" th:href="@{/css/postpage.css}">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" media="print" onload="this.media='all'">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script th:src="@{/js/like.js}" defer></script>
    <script th:src="@{/js/weblike.js(v=${'1.1'})}" defer></script>
    <script th:src="@{/js/status.js}" defer></script>
    <script th:src="@{/js/shelf-status-btn.js}" defer></script>
    <script th:src="@{/js/shelf-status-btn-mini.js}" defer></script>
    <script th:src="@{/js/authorfollow.js}" defer></script>
    <script th:src="@{/js/userfollow.js}" defer></script>
    <script th:src="@{/js/readmore.js(v=${'1.1'})}" defer></script>
    <script th:src="@{/js/5-1-16.js}" defer></script>
    <script th:src="@{/js/searchbar.js(v=${'1.1'})}" defer></script>
    <script th:src="@{/js/rating.js}" defer></script>
    <script th:src="@{/js/webmangafollow.js(v=${'1.2'})}" defer></script>
    <script th:src="@{/js/checkbox.js}" defer></script>
    <script th:src="@{/js/open-manga-info-for-uclist.js}" defer></script>


    <script type="text/javascript" language="javascript">var vc_pid = "889574329";</script>
    <script type="text/javascript" src="//aml.valuecommerce.com/vcdal.js" async></script>

    <link rel="stylesheet" th:href="@{/css/select2.min.css}">
    <script th:src="@{/js/bootstrap.min.js}" defer></script>
    <script th:src="@{/js/select2.min.js(v=${'1.0.1'})}" defer></script>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/5-1-16.css}">

    <title></title>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTMBZJ9R"
                height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header layout:replace="~{common/header::header}"></header>

    <main class="main">
        <section class="main-content">
            <div layout:fragment="content"></div>
        </section>
    </main>

    <footer layout:replace="~{common/footer::footer}"></footer>

</body>
</html>