<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout-admin2}">

<head>
    <meta charset="UTF-8" th:remove="tag">
</head>

<body>

    <div layout:fragment="sidebar" th:replace="~{admin/sidebar::sidebar}"></div>

    <div layout:fragment="content" class="offcanvas-outside bg-body-tertiary">
        <div class="container-fluid">
            <div th:replace="~{admin/sidebar::toggler}"></div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="text-navy my-2">
                                Webマンガ更新情報 一覧
                            </h6>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-bordered admin-table admin-table-webmangaupdateinfo">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>メディア名</th>
                                        <th>medid</th>
                                        <th>タイトル</th>
                                        <th>manid</th>
                                        <th>サブタイトル</th>
                                        <th>著者名</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--
                                    <tr th:each="info : ${infolist}" th:object="${info}">
                                        <td th:text="*{id}"></td>
                                        <td th:text="*{mediaName}"></td>
                                        <td th:text="*{webMangaMedia.id}"></td>
                                        <td th:text="*{titleString}"></td>
                                        <td th:text="*{manga.id}"></td>
                                        <td th:text="*{subTitle}"></td>
                                        <td th:text="*{authorString}"></td>
                                        <td class="td-center">
                                            <div class="admin-btn-container">
                                                <a th:href="@{/admin/web-manga-update-info/update/{id}/(id=*{id})}" class="btn btn-navy">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                <a th:href="@{/admin/web-manga-update-info/delete/{id}(id=*{id})}" class="btn btn-danger">
                                                    <i class="bi bi-trash-fill"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>