<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/admin-layout}">

<head>
</head>

<div layout:fragment="content">


    <h2>管理者用ページ</h2>
    <h3>登録著者 一覧</h3>
        <a class="btn-primary" th:href="@{/admin/user/register}">新規登録</a>
        <table>
            <tr>
                <th>ID</th>
                <th>ユーザーネーム</th>
                <th>メールアドレス</th>
                <th>パスワード</th>
                <th>権限</th>
                <th>操作</th>
            </tr>
            <tr th:each="user : ${userlist}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.role}"></td>
                <td><a class="btn-primary" th:href="@{/admin/user/detail/{id}/(id=${user.id})}">詳細</a></td>
            </tr>
        </table>
</div>
</html>