<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/admin-layout}">

<head>
    <title>サケマン管理部屋</title>
</head>

<body>
<div layout:fragment="content">

    <h2>管理者用ページ</h2>
    <h3>バッジ - ユーザー 一覧</h3>
    <form method="get" th:action="@{/admin/badge-user/register}">
        <input type="submit" value="新規登録"/>
    </form>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${pages})}"></div>

    <table>
        <tr>
            <th>ID</th>
            <th>バッジID</th>
            <th>バッジ名</th>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>操作</th>
        </tr>
        <tr th:each="badgeUser : ${badgeuserlist}">
            <td th:text="${badgeUser.id}"></td>
            <td th:text="${badgeUser.badge.id}"></td>
            <td th:text="${badgeUser.badge.name}"></td>
            <td th:text="${badgeUser.user.id}"></td>
            <td th:text="${badgeUser.user.username}"></td>
            <td>
                <a class="btn-primary" th:href="@{/admin/badge-user/detail/{id}/(id=${badgeUser.id})}">詳細</a>
                <a class="btn-primary" th:href="@{/admin/badge-user/update/{id}/(id=${badgeUser.id})}">編集</a>
            </td>
        </tr>
    </table>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${pages})}"></div>




</div>
</body>
</html>