<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">

<head>
<title>レビュー登録</title>
</head>

<div layout:fragment="content">

<div class="tmp-container" th:if="${#authorization.expression('isAnonymous()')}">
    <th:block th:if="${#authorization.expression('isAnonymous()')}">
        <div class="notion-register">
            <div class="notion-text-container">
                <i class="uil uil-comment-exclamation md-16 md-PL"></i>
                <div class="notion-text">レビューの投稿は会員限定の機能です</div>
            </div>
            <a th:href="@{/signup}">
                <div class="btn-notion">会員登録はこちら</div>
            </a>
        </div>
    </th:block>
</div>

<div class="postpage-title">
    <i class="uil uil-comment-edit md-24 md-highlight"></i>
    <h2>レビューの投稿</h2>
</div>

<form class="post-review-form-container" method="post" th:action="@{/review/post}" th:object="${review}">

    <label class="form-label" for="manga.id">レビューする作品</label>
    <select class="select2" name="manga.id" th:errorclass="err">
        <option th:value="${review.manga.id != null} ? ${review.manga.id} : ''"
                th:text="${review.manga.id != null} ? ${review.manga.title} : 'レビューする作品を選んでください。'"></option>
    </select><br>
    <span th:errors="*{manga.id}" class="err"></span><br>

    <label class="form-label" for="rating">お気に入り度（星をクリック！）</label>
    <span th:errors="*{rating}" class="err"></span><br>
    <div class="rating-wrapper">
        <input id="rating_1" type="radio" value="1" name="rating" th:errorclass="err">
            <label for="rating_1"><span class="material-icons-outlined">star</span></label>
        <input id="rating_2" type="radio" value="2" name="rating" th:errorclass="err">
            <label for="rating_2"><span class="material-icons-outlined">star</span></label>
        <input id="rating_3" type="radio" value="3" name="rating" th:errorclass="err">
            <label for="rating_3"><span class="material-icons-outlined">star</span></label>
        <input id="rating_4" type="radio" value="4" name="rating" th:errorclass="err">
            <label for="rating_4"><span class="material-icons-outlined">star</span></label>
        <input id="rating_5" type="radio" value="5" name="rating" th:errorclass="err">
            <label for="rating_5"><span class="material-icons-outlined">star</span></label>
    </div>

    <label class="form-label" for="title">レビュータイトル</label>
    <span th:errors="*{title}" class="err"></span><br>
    <input class="post-review-form-title" type="text" th:field="*{title}" placeholder="バシッといいタイトルお願いします！" th:errorclass="err">

    <label class="form-label" for="content">レビュー本文</label>
    <span th:errors="*{content}" class="err"></span><br>
    <textarea class="post-review-form-content" th:field="*{content}" placeholder="個人的なメモでも良いですし、推し活的なものでも良いかもしれません。" th:errorclass="err"></textarea>

    <input class="form-button" type="submit" value="投稿する" th:disabled="${#authorization.expression('isAnonymous()')}">
</form>

</div>
</html>