<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* 引数を受け取って呼ばれる（ object = ${infolist} ） */-->
<div layout:fragment="info-list-module(object)">

<!--/* カードモジュール */-->
<div class="card-outer" th:each="info : ${infolist}">

    <div class="info-module-head">
        <div class="info-module-meta">
            <img class="infologo" th:src="@{https://sake-man.com/__${info.webMangaMedia.logo}__}">
            <div class="uclist-module-user-head-text">
                <div class="uclist-module-head-user-name" th:text="*{info.webMangaMedia.displayName}"></div>
                <span class="info-module-subtitle" th:text="|*{#temporals.format(info.updateAt, 'yyyy/MM/dd HH:mm')} 更新|"></span>
            </div>
        </div>
        <div class="info-module-vertical">
            <div class="info-module-img">
                <a th:href="*{info.url}">
                    <img th:src="*{info.imgUrl}">
                </a>
            </div>
            <div class="info-module-text">
                <span class="info-module-title" th:text="*{info.titleString}"></span>
                <span class="info-module-author" th:text="*{info.authorString}"></span>
                <span class="info-module-subtitle" th:text="*{info.subTitle}"></span>
            </div>
        </div>
    </div>

    <th:block th:if="${info.manga.id != 1}" class="manga-module-head">
<!--
        <!--/* 書影 */-->
        <div class="manga-module-calligraphy">
            <a th:href="@{/manga/{id}(id=${info.manga.id})}">
                <img th:src="@{https://sake-man.com/calligraphy/__${info.manga.calligraphy}__}">
            </a>
        </div>
        <!--/* 基本情報 */-->
        <div class="manga-module-info-container">
            <a th:href="@{/manga/{id}/(id=${info.manga.id})}">
                <span class="manga-module-title" th:text="${info.manga.title}"></span>
            </a>
            <div class="author-container">
                <th:block th:if="!${#lists.isEmpty(info.manga.mangaAuthors)}" th:each=" ma : ${info.manga.mangaAuthors}">
                <a th:href="@{/author/{id}/(id=${ma.author.id})}">
                    <span class="manga-module-author" th:text="${ma.author.name}"></span>
                </a>
                </th:block>
            </div>
            <div class="manga-module-volume" th:text="|${info.manga.volume}巻|"></div>
            <div class="manga-module-rating-container">
                <th:block th:if="!${#lists.isEmpty(info.manga.reviews)}">
                    <span class="material-icons-outlined md-24 star">star</span>
                    <div class="manga-module-rating" th:with=rating=${#aggregates.avg(info.manga.reviews.![rating])} th:text="${#numbers.formatDecimal(rating, 0, 'COMMA', 2, 'POINT')}"></div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(info.manga.reviews)}">
                    <span class="material-icons-outlined md-24 md-dedede">star</span>
                    <div class="manga-module-rating disable">-.--</div>
                </th:block>
            </div>
            <div class="manga-module-review-container">
                <a th:href="@{/manga/{id}/review(id=${info.manga.id})}" class="test-a">
                    <th:block th:if="!${#lists.isEmpty(info.manga.reviews)}">
                        <i class="uil uil-comment-search md-24"></i>
                        <span class="manga-module-review" th:text="|${info.manga.reviews.size}件のレビューをみる|"></span>
                    </th:block>
                </a>
                <a th:href="@{/review/register}" class="test-a">
                    <th:block th:if="${#lists.isEmpty(info.manga.reviews)}">
                        <i class="uil uil-comment-edit md-24"></i>
                        <span class="manga-module-review" th:text="一番乗りレビューする"></span>
                    </th:block>
                </a>
            </div>
        </div>
-->
        <!--/* あらすじ */-->
        <div class="read-more-002">
            <p class="manga-module-synopsis">[[${info.manga.synopsis}]]</p>
            <label><input type="checkbox"/>...続きを読む</label>
        </div>
    </th:block>

    <!--/* アクション */-->
    <div class="manga-action">
    <!--/* いいねボタンを呼び出し（${reviewlist}, ${likelist}を引数として渡す） */-->
    <th:block class="" layout:include="module/btn/btn-weblike :: btn-weblike(object='${infolist}, ${likelist}')"></th:block>
    <div class="btn-ia-container-info">
        <a class="btn-ia-container-info" th:href="*{info.url}">
        <i class="uil uil-book-open md-24 md-7e7e7e"></i>
        <span class="btn-ia-text-info">いますぐ読む</span>
        </a>
    </div>
    </div>

</div> <!--/* outer */-->
</div> <!--/* layout:fragment */-->
</html>