<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{test/test-layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/manga/review.css}">
    <title>サケマンのレビュー全件一覧！</title>
</head>

<div layout:fragment="content"> <!-- layoutに送る -->

<!-- 見出し -->
<div class="page-title">
    <span class="material-icons-outlined md-36 page-title-icon">chat</span>
    <h2>レビュー一覧</h2>
</div>

<!--/* レビューモジュールを呼び出し（${reviewlist}を引数として渡す） */-->
<div layout:include="module/review-module :: review-module(object='${reviewlist}')"></div>

</div>

</html>