<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* 引数を受け取って呼ばれる（ object = ${infolist} ） */-->
<th:block th:fragment="info-card-module(infolist, likelist)">

<th:block th:if="${pages != null}">
    <div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${pages})}"></div>
</th:block>


<div class="card-outer" th:each="info : ${infolist}">

<!--/* インフォボタン */-->
<th:block class="btn-manga-info" layout:include="~{module/btn/btn-manga-info :: btn-manga-info(infolist=${info})}"></th:block>

    <div class="card-head">
        <div class="info-card-info">
        <a th:href="@{/web-manga-update-info/media/__${info.webMangaMedia.id}__}">
            <figure class="info-card-figure">
            <img class="info-card-img" th:src="@{https://sake-man.com/media_logo/__${info.webMangaMedia.logo}__}" loading="lazy">
            </figure>
        </a>
        <div class="info-card-text">
            <div class="card-user-name">
                <th:block th:if="${info.manga.id==111111}">
                    <a>[[*{info.titleString}]]</a>
                </th:block>
                <th:block th:unless="${info.manga.id==111111}">
                    <a th:href="@{/manga/detail/__${info.manga.id}__}">[[*{info.titleString}]]</a>
                </th:block>
            </div>
            <div class="info-module-head-sub">
                <span th:if="*{info.freeFlag==1}" class="info-module-free">無料</span>
                <span class="info-module-updateat" th:text="|*{#temporals.format(info.updateAt, 'yyyy/MM/dd HH:mm')} 更新|"></span>
            </div>
        </div>
    </div>

    <th:block class="" layout:include="~{module/btn/btn-web-manga-follow :: btn-web-manga-follow(mangaId=${info.manga.id}, webmangafollowlist=${webmangafollowlist})}"></th:block>

    </div>

    <div class="info-module-main">
        <div class="info-module-main-img">
            <th:block th:if="${info.imgUrl != null}">
                <a th:href="*{info.url}">
                    <img th:src="*{info.imgUrl}" loading="lazy">
                </a>
            </th:block>
            <th:block th:unless="${info.imgUrl != null}">
                <a th:href="*{info.url}">
                    <img th:src="@{https://sake-man.com/system/noimage.jpg}" loading="lazy">
                </a>
            </th:block>
        </div>
        <div class="info-module-main-text">
            <span class="info-module-subtitle" th:text="*{info.subTitle}"></span>
            <span class="info-module-author" th:text="*{info.authorString}"></span>
        <th:block th:unless="${info.manga.id==111111}">
            <div class="info-module-meta">
                <div class="minimanga-module-rating">
                    <th:block th:if="!${#lists.isEmpty(info.manga.reviews)}">
                        <span class="material-icons-outlined md-18 md-star">star</span>
                        <div class="info-module-rating-text" th:with=rating=${#aggregates.avg(info.manga.reviews.![rating])} th:text="${#numbers.formatDecimal(rating, 0, 'COMMA', 2, 'POINT')}"></div>
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(info.manga.reviews)}">
                        <span class="material-icons-outlined md-18 md-AS">star</span>
                        <div class="info-module-rating-text disabled">0.00</div>
                    </th:block>
                </div>
                <a th:href="@{/review/list-manga/__${info.manga.id}__}">
                    <div class="info-module-review">
                        <i class="uil uil-comment-lines md-18 md-BK"></i>
                        <div class="info-module-review-text">[[${info.manga.reviews.size}]]件</div>
                    </div>
                </a>
            </div>
        </th:block>
    </div>
        </div>

    <th:block th:if="${info.manga.id != 1}" class="manga-module-head">

        <!--/* あらすじ */-->
        <!--
        <div class="read-more-002">
            <p class="manga-card-synopsis" th:classappend="${info.manga.id==111111} ? '__as'">[[${info.manga.synopsis}]]</p>
            <label><input type="checkbox"/>続きを読む</label>
        </div>
        -->
        <div class="description-text-container">
            <p class="card-description-text" th:classappend="${info.manga.id==111111} ? '__as'">[[${info.manga.synopsis}]]</p>
            <span class="read-more">>> 続きを読む</span>
        </div>
    </th:block>

    <!--/* アクション */-->
    <div class="manga-action">
    <!--/* いいねボタンを呼び出し（${reviewlist}, ${likelist}を引数として渡す） */-->
    <th:block class="" layout:include="~{module/btn/btn-weblike :: btn-weblike(info=${info}, likelist=${likelist})}"></th:block>
    <a class="btn-ia-container-info" th:href="*{info.url}" target="_blank" rel="noopener noreferrer">
        <div class="btn-ia-container-info">
            <i class="uil uil-book-open md-24 md-GR"></i>
            <span class="btn-ia-text-info">いますぐ読む</span>
        </div>
    </a>
    </div>

</div> <!--/* outer */-->

<th:block th:if="${pages != null}">
    <div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${pages})}"></div>
</th:block>

</th:block> <!--/* layout:fragment */-->

</html>