<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* 引数を受け取って呼ばれる（ object = ${reviewlist} ） */-->
<div layout:fragment="review-card-module(reviewlist, likelist, wantlist, readlist, followeelist)">

<!--/* カードモジュール */-->
<div class="card-outer" th:each="review : ${reviewlist}">

    <!--/* 投稿ユーザー情報 */-->
    <div class="card-head">
        <div class="card-user">
            <a th:href="@{/user/{id}/want/grid(id=${review.user.id})}">
            <th:block th:if="${review.user.img != null}">
            <img class="card-user-img" th:src="@{https://sake-man.com/sakeman-user-upload/{path}(path=${review.user.img})}" loading="lazy">
            </th:block>
            <th:block th:unless="${review.user.img != null}">
            <img class="card-user-img" th:src="@{https://sake-man.com/system/default_img.png}" loading="lazy">
            </th:block>
            </a>
            <div class="card-user-text">
                <div class="card-user-name">
                    <a th:href="@{/user/{id}/want/grid(id=${review.user.id})}">[[${review.user.username}]]</a>
                </div>
                <div th:if="${!#lists.isEmpty(review.user.badgeusers)}" class="card-user-title">
                    <th:block th:text="${review.user.badgeusers[0].badge.name}">
                    </th:block>
                </div>
            </div>
        </div>
        <!--/* フォローボタンを呼び出し（${reviewlist}, ${followeelist}を引数として渡す） */-->
        <th:block class="" layout:include="~{module/btn/btn-user-follow :: btn-user-follow(userId=${review.user.id}, followeelist=${followeelist})}"></th:block>
    </div>

    <!--/* 対象作品情報 */-->
    <a th:href="@{/manga/detail/__${review.manga.id}__}">
        <span class="review-card-title" th:text="${review.manga.title}"></span><br>
    </a>
    <th:block th:if="!${#lists.isEmpty(review.manga.mangaAuthors)}" th:each="authors:${review.manga.mangaAuthors}">
        <a th:href="@{/author/{id}(id=${authors.author.id})}">
            <span class="review-card-author">[[${authors.author.name}]]</span>
        </a>
    </th:block>
    <th:block th:if="${#lists.isEmpty(review.manga.mangaAuthors)}">
        <span class="review-card-author">ー</span>
    </th:block>

    <!--/* レーティング情報 */-->
    <div class="review-card-rating-star" th:switch="${review.rating}">
        <span th:case=1>
            <span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star_outline</span><span class="material-icons-outlined md-20">star_outline</span><span class="material-icons-outlined md-20">star_outline</span><span class="material-icons-outlined md-20">star_outline</span>
        </span>
        <span th:case=2>
            <span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star_outline</span><span class="material-icons-outlined md-20">star_outline</span><span class="material-icons-outlined md-20">star_outline</span>
        </span>
        <span th:case=3>
            <span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star_outline</span><span class="material-icons-outlined md-20">star_outline</span>
        </span>
        <span th:case=4>
            <span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star_outline</span>
        </span>
        <span th:case=5>
            <span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span><span class="material-icons-outlined md-20">star</span>
        </span>
        <span th:case=* th:text="UNKNOWN"></span>
    </div>

    <!--/* レビュータイトル */-->
    <div class="review-card-title" th:text="${review.title}"></div>

    <!--/* レビュー本文 ＆ 書影画像 */-->
    <div class="review-card-body">
        <div class="description-text-container">
            <p class="card-description-text __long">[[${review.content}]]</p>
            <span class="read-more">>> 続きを読む</span>
        </div>

        <a th:href="@{/manga/detail/__${review.manga.id}__}">
            <figure class="review-card-calligraphy">
            <img th:src="${#lists.isEmpty(review.manga.calligraphy)} ?
                                    @{https://sake-man.com/system/noimage.jpg} :
                                    @{https://sake-man.com/calligraphy/__${review.manga.calligraphy}__}" loading="lazy">
            </figure>
        </a>
    </div>

    <!--/* アクションパーツ */-->
    <div class="manga-action">
        <div>
            <!--/* いいねボタンを呼び出し（${reviewlist}, ${likelist}を引数として渡す） */-->
            <th:block class="" layout:include="~{module/btn/btn-like :: btn-like(review=${review}, likelist=${likelist})}"></th:block>
        </div>
        <div>
            <!--/* 気になるボタンを呼び出し（${manga.id}, ${wantlist}, ${readlist}を引数として渡す） */-->
            <th:block class="" layout:include="~{module/btn/btn-read-status :: btn-read-status(mangaId=${review.manga.id}, wantlist=${wantlist}, readlist=${readlist})}"></th:block>
        </div>
    </div>

</div> <!--/* outer */-->
</div> <!--/* layout:fragment */-->
</html>