<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* 引数を受け取って呼ばれる（ object = ${} ） */-->
<div layout:fragment="shelf-card-module(user, usermangalist, wantlist, readlist, tab, allstatus)">

    <th:block  th:if="!${#lists.isEmpty(usermangalist)}">
    <div class="shelf-container">
        <div class="uclist-child __shelf" th:each="um : ${usermangalist}">
            <div class="uclist-child-figure">
                <a th:href="@{/manga/detail/__${um.manga.id}__}">
                    <figure class="minimanga-module-calligrapy">
                        <img th:src="${#lists.isEmpty(um.manga.calligraphy)} ?
                                     @{https://sake-man.com/system/noimage.jpg} :
                                     @{https://sake-man.com/calligraphy/__${um.manga.calligraphy}__}">
                    </figure>
                </a>
                <th:block layout:include="~{module/btn/btn-store-circle :: btn-store-circle(manga=${um.manga})}"></th:block>

            </div>

            <div class="minimanga-module-body">

                <div class="minimanga-module-title">
                    <a th:href="@{/manga/detail/__${um.manga.id}__}">[[${um.manga.title}]]</a>
                </div>
                <div class="minimanga-module-author-container">
                    <th:block th:if="!${#lists.isEmpty(um.manga.mangaAuthors)}" th:each="ma : ${um.manga.mangaAuthors}">
                        <span class="minimanga-module-author">
                            <a th:href="@{/author/{id}(id=${ma.author.id})}">[[${ma.author.name}]]</a>
                        </span>
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(um.manga.mangaAuthors)}">
                        <span class="minimanga-module-author">ー</span>
                    </th:block>
                </div>


                <div class="minimanga-module-publication-container">
                    <th:block th:if="${um.manga.completionFlag == 1}">
                        <span class="minimanga-module-completion-flag">完結</span>
                    </th:block>
                    <div class="minimanga-module-volume" th:text="|${um.manga.volume}巻|"></div>
                </div>
                <div class="minimanga-module-meta">
                    <div class="minimanga-module-rating">
                        <th:block th:if="!${#lists.isEmpty(um.manga.reviews)}">
                            <span class="material-icons-outlined md-18 md-star">star</span>
                            <div class="minimanga-module-rating-text" th:with=rating=${#aggregates.avg(um.manga.reviews.![rating])} th:text="${#numbers.formatDecimal(rating, 0, 'COMMA', 2, 'POINT')}"></div>
                        </th:block>
                        <th:block th:if="${#lists.isEmpty(um.manga.reviews)}">
                            <span class="material-icons-outlined md-18 md-AS">star</span>
                            <div class="minimanga-module-rating-text disabled">0.00</div>
                        </th:block>
                    </div>
                    <a th:href="@{/review/list-manga/__${um.manga.id}__}">
                        <div class="minimanga-module-review">
                            <i class="uil uil-comment-lines md-18 md-BK"></i>
                            <div class="minimanga-module-review-text" th:text="${um.manga.reviews.size}"></div>
                        </div>
                    </a>
                </div>
                <!--/* 気になるボタンを呼び出し（${manga.id}, ${wantlist}, ${readlist}を引数として渡す） */-->
                <th:block class="" layout:include="~{module/btn/btn-read-status-select :: btn-read-status-select(umlist=${um}, wantlist=${wantlist}, readlist=${readlist}, allstatus=${allstatus})}"></th:block>
            </div>
        </div>
    </div>
    </th:block>


    <th:block th:if="${#lists.isEmpty(usermangalist)}">
        <div class="nolist-message-container">
            <th:block th:if="${tab} == 'want'">
                <th:block sec:authorize="isAuthenticated()">
                    <th:block th:if="${user.id==#authentication.principal.user.id}">
                        <div class="tmp-container-2">
                            <div class="notion-register">
                                <div class="notion-text-container">
                                    <i class="uil uil-comment-exclamation md-18 md-PL"></i>
                                    <div class="col-container">
                                        <div class="suggest-text">「気になる」しているまんがはありません。</div>
                                        <div class="suggest-text">オススメコンテンツから、気になるまんがを見つけて、きがるに「気になる」登録してみましょう！</div>
                                    </div>
                                </div>
                                <a th:href="@{/}">
                                    <div class="btn-notion">オススメコンテンツへ</div>
                                </a>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:unless="${user.id==#authentication.principal.user.id}">
                        <span class="nolist-message-text">[[${user.username}]]が<br>「気になる」した まんがは<br>今はありません。</span>
                    </th:block>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <span class="nolist-message-text">[[${user.username}]]が<br>「気になる」した まんがは<br>今はありません。</span>
                </th:block>
            </th:block>

            <th:block th:if="${tab} == 'read'">
                <th:block sec:authorize="isAuthenticated()">
                    <th:block th:if="${user.id==#authentication.principal.user.id}">
                        <div class="tmp-container-2">
                            <div class="notion-register">
                                <div class="notion-text-container">
                                    <i class="uil uil-comment-exclamation md-18 md-PL"></i>
                                    <div class="col-container">
                                        <div class="suggest-text">「読んだ」しているまんがはありません。</div>
                                        <div class="suggest-text">「気になる」したまんがで、もう読んだものがあれば、ステータスを「読んだ」に変更してみましょう！</div>
                                    </div>
                                </div>
                                <a th:href="@{/}">
                                    <div class="btn-notion">オススメコンテンツへ</div>
                                </a>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:unless="${user.id==#authentication.principal.user.id}">
                        <span class="nolist-message-text">[[${user.username}]]が<br>「読んだ」した まんがは<br>今はありません。</span>
                    </th:block>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <span class="nolist-message-text">[[${user.username}]]が<br>「読んだ」した まんがは<br>今はありません。</span>
                </th:block>
            </th:block>
        </div>
    </th:block>

</div> <!--/* layout:fragment */-->
</html>