<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* 引数を受け取って呼ばれる（ object = ${reviewlist} ） */-->
<div layout:fragment="user-card(object)">

<!--/* カードモジュール */-->
<div class="card-outer" th:each="user:${userlist}">
    <div class="card-head">
        <div class="card-user">
            <a th:href="@{/user/{id}(id=${user.id})}">
            <th:block th:if="${user.img != null}">
            <img class="card-user-img" th:src="@{https://sake-man.com/{path}(path=${user.img})}">
            </th:block>
            <th:block th:unless="${user.img != null}">
            <img class="card-user-img" th:src="@{https://sake-man.com/default_img.png}" style ="background-color: #E1D8F0">
            </th:block>
            </a>
            <div class="card-user-text">
                <div class="card-user-name">
                    <a th:href="@{/user/{id}(id=${user.id})}">[[${user.username}]]</a>
                </div>
                <div class="card-user-title">伝説級のレビュアー</div>
            </div>
        </div>
        <!--/* フォローボタンを呼び出し（${reviewlist}, ${followeelist}を引数として渡す） */-->
        <th:block class="" th:with="userId=${user.id}" layout:include="module/btn/btn-user-follow :: btn-user-follow(object='${userId}, ${reviewlist}, ${followeelist}')"></th:block>
    </div>

    <div class="user-card-counter-container">
        <div class="user-card-counter">
            <i class="uil uil-list-ul md-24"></i>
            <span th:text="${user.uclists.size}"></span>
        </div>
        <div class="user-card-counter">
            <i class="uil uil-comment-lines md-24"></i>
            <span th:text="${user.reviews.size}"></span>
        </div>
    </div>
    <!--
    <div class="read-more-002">
        <p class="user-card-selfintro">[[${user.selfIntro}]]</p>
        <label><input type="checkbox"/>続きを読む</label>
    </div>
    -->
    <div class="user-card-selfintro" th:text="${user.selfIntro}"></div>

    <!-- 読んだ本 -->
    <div class="user-card-shelf-container" th:with="readlist=${user.readStatus}">
        <th:block   th:if="!${#lists.isEmpty(readlist)}">
        <!--
        <th:block   th:each="i : ${#numbers.sequence(1,10)}"
                    th:if="${readlist[i-1].status.toString() == '読んだ'}">
        -->
        <th:block   th:each="i : ${#numbers.sequence(1,10)}">
            <figure class="user-card-shelf-calligraphy">
                <a th:href="@{/manga/{id}(id=${readlist[i-1].manga.id})}">
                <img th:src="@{https://sake-man.com/calligraphy/__${readlist[i-1].manga.calligraphy}__}">
                </a>
            </figure>
        </th:block>
        </th:block>
    </div>
</div> <!-- outer -->
</div> <!--/* layout:fragment */-->
</html>