<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="user-card(mangalist, userlist, userId, reviewlist, followeelist)">

<!--/* カードモジュール */-->
<div class="card-outer" th:each="user:${userlist}">
    <div class="card-head">
        <div class="card-user">
            <a th:href="@{/user/{id}/want/grid(id=${user.id})}">
            <th:block th:if="${user.img != null}">
            <img class="card-user-img" th:src="@{https://sake-man.com/sakeman-user-upload/{path}(path=${user.img})}">
            </th:block>
            <th:block th:unless="${user.img != null}">
            <img class="card-user-img" th:src="@{https://sake-man.com/system/default_img.png}" style ="background-color: #E1D8F0">
            </th:block>
            </a>
            <div class="card-user-text">
                <div class="card-user-name">
                    <a th:href="@{/user/{id}/want/grid(id=${user.id})}">[[${user.username}]]</a>
                </div>
                <div th:if="${!#lists.isEmpty(user.badgeusers)}" class="card-user-title">
                    <th:block th:text="${user.badgeusers[0].badge.name}">
                    </th:block>
                </div>
            </div>
        </div>
        <!--/* フォローボタンを呼び出し（${reviewlist}, ${followeelist}を引数として渡す） */-->
        <th:block class="" th:with="userId=${user.id}" layout:include="~{module/btn/btn-user-follow :: btn-user-follow(userId=${user.id}, followeelist=${followeelist})}"></th:block>
    </div>

    <div class="user-card-counter-container">
        <div class="user-card-counter">
            <i class="uil uil-list-ul md-24"></i>
            <span th:text="${user.uclists.size}"></span>
        </div>
        <div class="user-card-counter">
            <i class="uil uil-comment-lines md-24"></i>
            <span th:text="${user.reviews.size}"></span>
        </div>
    </div>

    <!--
    <div class="user-card-selfintro" th:text="${user.selfIntro}"></div>
    -->
    <div class="description-text-container">
        <p class="card-description-text">[[${user.selfIntro}]]</p>
        <span class="read-more">>> 続きを読む</span>
    </div>


    <div class="user-card-shelf-container">
        <th:block th:each="readlist:${#getReadManga.getReadManga(__${user.id}__)}">
            <figure class="user-card-shelf-calligraphy">
                <a th:href="@{/manga/detail/${readlist.id}__}">
                    <img th:src="${#lists.isEmpty(readlist.manga.calligraphy)} ?
                                     @{https://sake-man.com/system/noimage.jpg} :
                                     @{https://sake-man.com/calligraphy/__${readlist.manga.calligraphy}__}">
                </a>
            </figure>
        </th:block>
    </div>



</div> <!-- outer -->
</div> <!--/* layout:fragment */-->
</html>