<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout-admin2}">

<head>
    <title>サケマン管理部屋</title>
</head>

<body>

    <div layout:fragment="sidebar" th:replace="~{admin/sidebar::sidebar}"></div>

    <div layout:fragment="content" class="offcanvas-outside bg-body-tertiary">
        <div class="container-fluid">
            <div th:replace="~{admin/sidebar::toggler}"></div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="text-navy my-2">
                                まんが 一覧
                            </h6>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-bordered admin-table admin-table-manga">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>作品名</th>
                                        <th>著者名</th>
                                        <th>巻数</th>
                                        <th>出版社</th>
                                        <th>掲載誌</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>