<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/admin-layout}">

<head>
</head>

<div layout:fragment="content">

    <h2>作品 新規登録</h2>
    <a class="btn-primary" th:href="@{/admin/manga/list}">一覧に戻る</a>

    <form class="admin-form" method="post" th:action="@{/admin/manga/register}" th:object="${manga}">
    <table class="form-table">
    <tr>
        <th><label for="title">タイトル</label></th>
        <td>
            <input type="text" th:field="*{title}" th:errorclass="err">
            <span th:errors="*{title}" class="err"></span>
        </td>
    </tr>
    <tr>
        <th><label for="titleKana">タイトルカナ</label></th>
        <td>
            <input type="text" th:field="*{titleKana}" th:errorclass="err">
            <span th:errors="*{titleKana}" class="err"></span>
        </td>
    </tr>

    <tr>
        <th><label for="authorId">著者</label></th>
        <td>
<!--
            <select multiple="multiple" name="authorId">
            <option value="" th:text="選択してください"></option>
            <option th:each="authors:${authorlist}"
                    th:value="${authors.id}"
                    th:text="${authors.name}">
            mangaAuthorsのidを登録してしまっている
            </option>
            </select>
-->
        <select class="select2-author" multiple="multiple" name="authorId">
        <option value="" th:text="著者名で検索！"></option>
        </select><br>




        </td>
    </tr>


    <tr>
        <th><label for="volume">巻数</label></th>
        <td>
            <input type="text" th:field="*{volume}" th:errorclass="err">
            <span th:errors="*{volume}" class="err"></span>
        </td>
    </tr>
    <tr>
        <th><label for="publisher">出版社</label></th>
        <td>
            <input type="text" th:field="*{publisher}" th:errorclass="err">
            <span th:errors="*{publisher}" class="err"></span>
        </td>
    </tr>
    <tr>
        <th><label for="publishedIn">掲載誌</label></th>
        <td>
            <input type="text" th:field="*{publishedIn}" th:errorclass="err">
            <span th:errors="*{publishedIn}" class="err"></span>
        </td>
    </tr>
    <tr>
        <th><label for="synopsis">あらすじ</label><br></th>
        <td>
            <textarea th:field="*{synopsis}" th:errorclass="err"></textarea>
            <span th:errors="*{synopsis}" class="err"></span>
        </td>
    </tr>
    <tr>
        <th><label for="calligraphy">画像ファイル名</label></th>
        <td>
            <input type="text" th:field="*{calligraphy}" th:errorclass="err">
            <span th:errors="*{calligraphy}" class="err"></span>
        </td>
    </tr>
    </table>

    <input type="submit" value="登録">
    </form>

</div>
</html>