<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout-admin2}">

<head>
    <title>サケマン管理部屋</title>
</head>

<body>
    <div layout:fragment="sidebar" th:replace="~{admin/sidebar::sidebar}"></div>

    <div layout:fragment="content" class="offcanvas-outside bg-body-tertiary">
        <div class="container-fluid pt-3">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="text-navy my-2">
                                まんが登録
                            </h6>
                        </div>
                        <div class="card-body">
                            <!--<h5 class="card-title mb-3 text-navy">まんが登録</h5>-->
                            <form th:method="post" th:action="@{/admin/manga/register}" th:object="${manga}">

                                <div class="mb-3 row align-items-center">
                                    <div class="col-md-2">
                                        <label for="title" class="form-label">タイトル</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" th:errorclass="err" th:field="*{title}">
                                        <div class="invalid-feedback" th:errors="*{title}"></div>
                                    </div>
                                </div>

                                <!-- 著者 -->
                                <div class="mb-3 row align-items-center">
                                    <div class="col-md-2">
                                        <label for="authorName" class="form-label">著者</label>
                                    </div>
                                    <div class="col-md-10">
                                        <select class="select2-author form-control" multiple="multiple" name="authorName">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                                <!-- 関数 -->
                                <div class="mb-3 row align-items-center">
                                    <div class="col-md-2">
                                        <label for="volume" class="form-label">巻数</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" th:errorclass="err" th:field="*{volume}">
                                        <div class="invalid-feedback" th:errors="*{volume}"></div>
                                    </div>
                                </div>

                                <!-- 出版社 -->
                                <div class="mb-3 row align-items-center">
                                    <div class="col-md-2">
                                        <label for="publisher" class="form-label">出版社</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" th:errorclass="err" th:field="*{publisher}">
                                        <div class="invalid-feedback" th:errors="*{publisher}"></div>
                                    </div>
                                </div>

                                <!-- 掲載誌 -->
                                <div class="mb-3 row align-items-center">
                                    <div class="col-md-2">
                                        <label for="publishedIn" class="form-label">掲載誌</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" th:errorclass="err" th:field="*{publishedIn}">
                                        <div class="invalid-feedback" th:errors="*{publishedIn}"></div>
                                    </div>
                                </div>

                                <!-- あらすじ -->
                                <div class="mb-3 row align-items-center">
                                    <div class="col-md-2">
                                        <label for="synopsis" class="form-label">あらすじ</label>
                                    </div>
                                    <div class="col-md-10">
                                        <textarea class="form-control" th:errorclass="err" th:field="*{synopsis}" rows="5"></textarea>
                                        <div class="invalid-feedback" th:errors="*{synopsis}"></div>
                                    </div>
                                </div>

                                <!-- 画像ファイル名 -->
                                <div class="mb-3 row align-items-center">
                                    <div class="col-md-2">
                                        <label for="calligraphy" class="form-label">画像ファイル名</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" th:errorclass="err" th:field="*{calligraphy}">
                                        <div class="invalid-feedback" th:errors="*{calligraphy}"></div>
                                    </div>
                                </div>

                                <div class="mb-3 form-check">
                                    <input class="form-check-input" type="checkbox" id="isOneShot" th:field="*{isOneShot}">
                                    <label class="form-check-label" for="isOneShot">読切</label>
                                </div>

                                <button class="w-100 btn btn-navy" type="submit">登録</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>