<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/admin-layout}">

<head>
</head>

<div layout:fragment="content">
    <h2 th:text="|レビューID：${review.id}の詳細|"></h2>
        <table>
        <tr>
            <th>ID</th>
            <td th:text="${review.id}"></td>
        </tr>
        <tr>
            <th>投稿ユーザー名</th>
            <td th:text="${review.user.username}"></td>
        </tr>
        <tr>
            <th>作品名</th>
            <td th:text="${review.manga.title}"></td>
        </tr>
        <tr>
            <th>レーティング</th>
            <td th:text="${review.rating}"></td>
        </tr>
        <tr>
            <th>レビュータイトル</th>
            <td th:text="${review.title}"></td>
        </tr>
        <tr>
            <th>レビュー本文</th>
            <td th:text="${review.content}"></td>
        </tr>
        <tr>
            <th>登録日時</th>
            <td th:text="${review.registeredAt}"></td>
        </tr>
        <tr>
            <th>更新日時</th>
            <td th:text="${review.updatedAt}"></td>
        </tr>
        <tr>
            <th>削除フラグ</th>
            <td th:text="${review.deleteFlag}"></td>
        </tr>
    </table>

    <div class="admin-action-btn">
        <a class="btn-primary" th:href="@{/admin/review/update/{id}/(id=${review.id})}">編集する</a>
        <a class="btn-primary" th:href="@{/admin/review/list}">一覧に戻る</a>
    </div>

    <form>
        <button class="btn-secondary" type="submit" name="like" value="true">いいね</button>
    </form>

</div>
</html>