<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/admin-layout}">

<head>
</head>

<div layout:fragment="content">


    <h2>管理者用ページ</h2>
    <h3>Webマンガメディア 一覧</h3>
        <a class="btn-primary" th:href="@{/admin/web-manga-media/register}">新規登録</a>
        <table>
            <tr>
                <th>ID</th>
                <th>メディア名</th>
                <th>ロゴ</th>
                <th>表示フラグ</th>
                <th>消去フラグ</th>
                <th>操作</th>
            </tr>
            <tr th:each="media : ${medialist}">
                <td th:text="${media.id}"></td>
                <td th:text="${media.name}"></td>
                <td th:text="${media.logo}"></td>
                <td th:text="${media.displayFlag}"></td>
                <td th:text="${media.deleteFlag}"></td>
                <td><a class="btn-primary" th:href="@{/admin/web-manga-media/detail/{id}/(id=${media.id})}">詳細</a></td>
            </tr>
        </table>
</div>
</html>