<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
<link rel="stylesheet" th:href="@{/css/manga/user.css}">
<link rel="stylesheet" th:href="@{/css/manga/minilist.css}">
</head>

<div layout:fragment="content">

<div class="user-prof-head">
    <div class="user-cover">
        <img th:src="@{https://sake-man.com/gucci_araki_02.jpeg}">
    </div>

    <a th:href="@{/user/{id}(id=${user.id})}">
        <th:block th:if="${user.img != null}">
            <img class="user-prof-img" th:src="@{https://sake-man.com/{path}(path=${user.img})}">
        </th:block>
        <th:block th:unless="${user.img != null}">
            <img class="user-prof-img" th:src="@{https://sake-man.com/default_img.png}">
        </th:block>
    </a>

    <!--/* ユーザーボタンモジュールを呼び出し（${user}を引数として渡す） */-->
    <div layout:include="module/btn/btn-user-prof :: btn-user-prof(object='${user}, ${followeelist}')"></div>

    <div class="userpage-head-container">
        <span class="userpage-username" th:text="${user.username}"></span>
        <div class="userpage-counter-container">
            <div class="userpage-counter">
                <i class="uil uil-list-ul md-24"></i>
                <span th:text="${user.uclists.size}"></span>
            </div>
            <div class="userpage-counter">
                <i class="uil uil-comment-lines md-24"></i>
                <span th:text="${user.reviews.size}"></span>
            </div>
        </div>
    </div>
    <div class="read-more-002">
        <p class="userpage-selfintro">[[${user.selfIntro}]]</p>
        <label><input type="checkbox"/>続きを読む</label>
    </div></div>


    <div class="tag-container">
        <span class="tag">伝説のレビュワー2023</span><span class="tag">アーリーアダプター</span>
        <span class="tag">ヤンキーまんが王</span><span class="tag">史上最も買いに行かせた男（or 女）</span>
    </div>

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/user/{id}(id=${user.id})}">
        <div class="tab">
            <i class="material-icons-outlined md-24">bookmark_added</i>
            <span class="tab-text">気になる</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/user/{id}/read(id=${user.id})}">
        <div class="tab tab-current">
            <i class="material-icons-outlined md-24">check_box</i>
            <span class="tab-text">読んだ</span>
        </div>
    </a>
</div>

<!--/* 本棚モジュールを呼び出し（${usermangalist}, ${wantlist}, ${readlist}を引数として渡す） */-->
<div layout:include="module/card/shelf-card-module :: shelf-card-module(object='${usermangalist}, ${wantlist}, ${readlist}')"></div>

</div>
</html>