<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
    <title>[[${user.username}]]のページ</title>
</head>

<div layout:fragment="content">

    <div class="user-prof-head">
        <!--/* カバーを呼び出し */-->
        <div layout:include="~{module/other/user-cover :: user-cover(user=${user}, statuslist=${statuslist})}"></div>

        <a th:href="@{/user/{id}(id=${user.id})}">
            <th:block th:if="${user.img != null}">
                <img class="user-prof-img" th:src="@{https://sake-man.com/sakeman-user-upload/__${user.img}__}">
                <!-- /img/{path}/(path=${user.img}) -->
            </th:block>
            <th:block th:unless="${user.img != null}">
                <img class="user-prof-img" th:src="@{https://sake-man.com/system/default_img.png}">
            </th:block>
        </a>

        <!--/* ユーザープロフィールボタンを呼び出し */-->
        <div layout:include="~{module/btn/btn-user-prof :: btn-user-prof(user=${user}, followeelist=${followeelist})}"></div>

        <div class="userpage-head-container">
            <span class="userpage-username" th:text="${user.username}"></span>
            <div class="userpage-counter-container">
                <div class="userpage-counter">
                    <i class="uil uil-list-ul md-24"></i>
                    <span th:text="${user.uclists.size}"></span>
                </div>
                <div class="userpage-counter">
                    <i class="uil uil-comment-lines md-24"></i>
                    <span th:text="${user.reviews.size}"></span>
                </div>
            </div>
        </div>
        <!--
        <div class="read-more-002">
            <p class="userpage-selfintro">[[${user.selfIntro}]]</p>
            <label><input type="checkbox"/>続きを読む</label>
        </div>
        -->
        <div class="user-selfinfo-container">
            <div class="description-text-container">
                <p class="card-description-text">[[${user.selfIntro}]]</p>
                <span class="read-more">>> 続きを読む</span>
            </div>
        </div>
    </div>

    <div th:if="${!#lists.isEmpty(badgelist)}" class="tag-container" th:each="badgeuser : ${badgelist}">
        <span class="tag" th:text="${badgeuser.badge.name}"></span>
    </div>

    <!--
    <div class="container" th:with="text='マイ本棚', class='uil-books'" layout:include="~{module/other/page-title-module :: h2(text=${text}, class=${class})}"></div>
    -->

    <!--/* タブ */-->
    <div class="tab-container">
        <a class="tab-link" th:href="@{/user/{id}/want/grid(id=${user.id})}">
            <div class="tab" th:classappend="${tab == 'want'} ? 'tab-current' : ''">
                <!--<i class="material-icons-outlined md-24">bookmark_added</i>-->
                <span class="tab-text">気になる ([[${wantpages.totalElements}]])</span>
            </div>
        </a>
        <a class="tab-link" th:href="@{/user/{id}/read/grid(id=${user.id})}">
            <div class="tab" th:classappend="${tab == 'read'} ? 'tab-current' : ''">
                <!--<i class="material-icons-outlined md-24">check_box</i>-->
                <span class="tab-text">読んだ ([[${readpages.totalElements}]])</span>
            </div>
        </a>
        <a class="tab-link" th:href="@{/user/{id}/follow/grid(id=${user.id})}">
            <div class="tab" th:classappend="${tab == 'follow'} ? 'tab-current' : ''">
                <!--<i class="material-icons-outlined md-24">check_box</i>-->
                <span class="tab-text">Webフォロー ([[${followpages.totalElements}]])</span>
            </div>
        </a>
    </div>

    <!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
    <th:block th:if="${tab} == 'want'">
        <div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${wantpages})}"></div>
    </th:block>
    <th:block th:if="${tab} == 'read'">
        <div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${readpages})}"></div>
    </th:block>
    <th:block th:if="${tab} == 'follow'">
        <div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${followpages})}"></div>
    </th:block>

    <!--/* 本棚モジュールを呼び出し（${userwantlist}, ${wantlist}, ${readlist}を引数として渡す） */-->
    <th:block th:if="${tab} == 'want'">
        <div th:insert="~{module/card/shelf-card-module :: shelf-card-module(user=${user}, usermangalist=${userwantlist}, wantlist=${wantlist}, readlist=${readlist}, tab=${tab}, allstatus=${allStatus})}"></div>
    </th:block>
    <th:block th:if="${tab} == 'read'">
        <div th:insert="~{module/card/shelf-card-module :: shelf-card-module(user=${user}, usermangalist=${userreadlist}, wantlist=${wantlist}, readlist=${readlist}, tab=${tab}, allstatus=${allStatus})}"></div>
    </th:block>
    <th:block th:if="${tab} == 'follow'">
        <div th:insert="~{module/card/shelf-card-module :: shelf-card-module(user=${user}, usermangalist=${userfollowlist}, wantlist=${wantlist}, readlist=${readlist}, tab=${tab}, allstatus=${allStatus})}"></div>
    </th:block>


    <!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
    <th:block th:if="${tab} == 'want'">
        <div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${wantpages})}"></div>
    </th:block>
    <th:block th:if="${tab} == 'read'">
        <div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${readpages})}"></div>
    </th:block>
    <th:block th:if="${tab} == 'follow'">
        <div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${followpages})}"></div>
    </th:block>


</div>
</html>