<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
    <title th:text="${tab == 'veteran'} ? 'ユーザー一覧 (ベテラン勢) | サケマン' : 'ユーザー一覧 (ルーキー) | サケマン' "></title>
</head>

<div layout:fragment="content">

<!--/* 検索モジュールを呼び出し（${}を引数として渡す） */-->
<div class="search" layout:include="module/search-module :: search-module(object='')"></div>

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/user/list/veteran}">
        <div class="tab" th:classappend="${tab == 'veteran'} ? 'tab-current'">
            <i class="uil uil-bolt"></i>
            <span class="tab-text">ベテラン勢</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/user/list/rookie}">
        <div class="tab" th:classappend="${tab == 'rookie'} ? 'tab-current'">
            <i class="uil uil-fire"></i>
            <span class="tab-text">ルーキー</span>
        </div>
    </a>
</div>

<div class="container" th:with="text='ユーザー一覧', class='uil-user-circle'" layout:include="module/other/page-title-module :: h2(object='')"></div>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<div class="container" layout:include="module/pagenation-module :: pagenation-module(object='${pages}')"></div>

<!--/* ユーザーリストモジュールを呼び出し（${reviewlist}を引数として渡す） */-->
<div class="container" layout:include="module/card/user-card :: user-card(object='${mangalist}, ${userlist}, ${userId}, ${reviewlist}, ${followeelist}')"></div>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<div class="container" layout:include="module/pagenation-module :: pagenation-module(object='${pages}')"></div>

</div>
</html>