<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
<link rel="stylesheet" th:href="@{/css/manga/user.css}">
<link rel="stylesheet" th:href="@{/css/manga/minilist.css}">
</head>

<div layout:fragment="content">

<!--/* 検索モジュールを呼び出し（${}を引数として渡す） */-->
<div class="search" layout:include="module/search-module :: search-module(object='')"></div>

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/user}">
        <div class="tab">
            <i class="uil uil-bolt"></i>
            <span class="tab-text">ベテラン勢</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/user/popular}">
        <div class="tab tab-current">
            <i class="uil uil-fire"></i>
            <span class="tab-text">新人</span>
        </div>
    </a>
</div>

<div class="page-title">
    <i class="uil uil-user-circle"></i>
    <h2>ユーザー一覧</h2>
</div>

<!--/* ユーザーリストモジュールを呼び出し（${reviewlist}を引数として渡す） */-->
<div class="container" layout:include="module/card/user-card :: user-card(object='${mangalist}, ${userlist}, ${userId}, ${reviewlist}, ${followeelist}')"></div>


</div>
</html>