<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/manga/uclist.css}">
    <link rel="stylesheet" th:href="@{/css/manga/minilist.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
</head>

<div layout:fragment="content"> <!-- layoutに送る -->

<!--/* 検索モジュールを呼び出し（${}を引数として渡す） */-->
<div class="search" layout:include="module/search-module :: search-module(object='')"></div>

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/uclist}">
        <div class="tab tab-current">
            <i class="uil uil-bolt"></i>
            <span class="tab-text">新着順</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/uclist/popular}">
        <div class="tab">
            <i class="uil uil-fire"></i>
            <span class="tab-text">人気順</span>
        </div>
    </a>
</div>

<!-- 見出し -->
<div class="page-title">
    <i class="uil uil-list-ul"></i>
    <h2>みんなのリスト</h2>
</div>

<!--/* まんがリストモジュールを呼び出し（${uclistlist}を引数として渡す） */-->
<div class="container" layout:include="module/card/uclist-card :: uclist-card(object='${uclistlist}')"></div>

</div>

</html>