<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">

<head>
<title>リスト作成</title>
</head>

<div layout:fragment="content">

<div class="postpage-title">
    <i class="uil uil-comment-edit md-24 md-highlight"></i>
    <h2>リストの作成</h2>
</div>

<form class="post-uclist-form-container" method="post" th:action="@{/uclist/post}" th:object="${uclist}">
    <label class="form-label" for="mangaId">リストに追加する作品</label>
    <select class="select2" multiple="multiple" name="mangaId">
        <option value="" th:text="リストに入れる作品を選んでください！"></option>
        <option th:each="manga:${mangalist}"
                th:value="${manga.id}"
                th:text="${manga.title}">
        </option>
    </select><br>
    <span th:errors="*{id}" class="err"></span><br>

    <label class="form-label" for="title">リストのタイトル</label>
    <span th:errors="*{title}" class="err"></span>
    <input class="post-uclist-form-title" type="text" th:field="*{title}" placeholder="バシッといいタイトルお願いします！(必須項目)" th:errorclass="err">

    <label class="form-label" for="description">リストの説明</label>
    <span th:errors="*{description}"></span>
    <textarea class="post-uclist-form-description" th:field="*{description}" placeholder="個人的なメモでも良いですし、推し活的なものでも良いかもしれません。(任意項目)"></textarea>

    <input class="form-button" type="submit" value="投稿する" disabled="disabled">
</form>

</div>
</html>