@charset "UTF-8";

.postpage-title {
    width: 100vw;
    max-width: 400px;
    display: inline-flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

.post-review-form-container,
.post-uclist-form-container {
    padding: 0 16px;
    width: 100vw;
    max-width: 600px;
    margin-bottom: 32px;
}

.form-label {
    color: #595959;
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label img {
  color: #dedede;
}
input[type="radio"]:checked + label img {
  color: #229944;
}

.rating-description {
    color: #595959;
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 8px;
}

.rating-wrapper {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 16px;
    color: var(--AS);
}

.rating-wrapper span {
    font-size: 56px;
}

.post-review-form-title,
.post-review-form-content,
.post-uclist-form-title,
.post-uclist-form-description {
    color: #222222;
    font-size: 12px;
    padding: 8px;
}

.post-review-form-title,
.post-uclist-form-title {
    border: solid 1px #dedede;
    width: 100%;
    height: 2rem;
    margin-bottom: 16px;
    border-radius: 4px;
}

.post-review-form-content,
.post-uclist-form-description {
    border: solid 1px #dedede;
    width: 100%;
    height: 7rem;
    margin-bottom: 16px;
    border-radius: 4px;
}

::placeholder {
    color: #c0c0c0;
}

.form-button {
    color: #ffffff;
    padding: 4px 16px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: #7a42bf
}

.form-button:disabled {
    color: var(--GR);
    padding: 4px 16px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: var(--AS)
}



.prof-update-title {
    text-align: center;
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: center;
    margin-bottom: 16px;
}

.prof-update-selfIntro {
    width: 100%;
    height: 7em;
    border: solid 1px #dedede;
    font-size: 12px;
    margin-bottom: 16px;
}

.prof-update-imgfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 16px;
}

.prof-update-img{
    width: 96px;
    height: 96px;
    object-fit: cover;
    border: solid 1px #dedede;
    border-radius: 50%;
}

.prof-update-file {
    width: 65%;
    height: 2.5em;
    border: none;
}