@charset "UTF-8";

/*== ボタンのためのCSS */

/* .openbtn{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
×に変化
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}
.openbtn span:nth-of-type(2) {
    top: 23px;
}
.openbtn span:nth-of-type(3) {
    top: 31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left:18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}
.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}
.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
  */

/*== ナビゲーションのためのCSS */

/* アクティブになったエリア */
#g-nav.panelactive {
    /* position:fixedにしてz-indexの値を大きくして前面へ */
    position: fixed;
    z-index: 999;
    bottom: 360px;
    right: 190px;
    width: 50%;
    height: 50vh;
}

/* ナビゲーションの縦スクロール */
#g-nav-list {
    display: none; /* 最初は表示なし */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list {
    display: block;    /* .panelactiveが付与されたら出現 */
}

/* ナビゲーション */
#g-nav ul {
    opacity: 0;    /* 初めは透過0 */
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 45px;
}

/* 背景の出現後にナビゲーションを表示 */
#g-nav.panelactive ul {
    opacity: 1;
}

/* 背景が出現後にナビゲーションliを表示 */
#g-nav.panelactive ul li {
    animation-name: gnaviAnime;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#g-nav li a{
    color: #ffffff;
    font-weight: 700;
}

@keyframes gnaviAnime {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

/* 丸の拡大 */
.circle-bg {
    position: fixed;
    z-index: 3;
    /* 形状 */
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background: #7a42bf;
    /* スタート位置と形状 */
    transform: scale(0);
    right: -50px;
    bottom: -50px;
    transition: all .6s;
}

.circle-bg.circleactive {
    transform: scale(3);
    right: 138px;
    bottom: 300px;
}

/* 検証用 */
/* nav ul {
    list-style: none;
    text-align: center;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 10px;
} */