@charset "UTF-8";

/* --------------------------------------------------
    Colors
-------------------------------------------------- */
:root {
    --WH: #FFFFFF;
    --BK: #595959;
    --GR: #7e7e7e;
    --AS: #dedede;
    --PL: #7735bd;
    --LV: #E1D8F0;
    --HL: #f37025;
}


/* --------------------------------------------------
    Default Styling
-------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--BK);
    background-color: #fafafa;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
}

h1,
h2 {
    line-height: 1.4;
}

h2,
h3 {
    font-weight: 700;
}

h1 {
    font-weight: 500;
}

h4 {
    margin-bottom: 0;
    line-height: 1.4;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

p {
    line-height: 1.5;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    margin: 0;
    line-height: 0;
}

a>*:hover {
    color: var(--HL);
    /*
    text-decoration: underline;
    */
    cursor: pointer;
}

a,
input,
textarea {
    transition: all 0.15s ease-in-out;
}

input[type="submit"] :hover {
    cursor: pointer;
}

/* pre {
    font-size: 14px;
    margin: 0;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    word-wrap: break-word;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
} */

.err {
    color: red;
    font-size: 12px;
    font-weight: 100;
}

.alert {
    display: block;
    font-size: 14px;
    width: calc(100%-32px);
    background-color: var(--LV);
    color: var(--PL);
    text-align: center;
    padding: 16px;
    margin: 16px;
    border-radius: 4px;
}

button:active, a:active, .clickable:active {
    transform: translateY(2px);
    transition: transform 0.1s ease;
}

@media (hover: none) {
  *:hover {
    background-color: initial;
    color: inherit;
  }
}

/* --------------------------------------------------
    Mobile Styling
-------------------------------------------------- */

h1,
h2 {
    font-size: 18px;
    color: var(--BK);
}

h3 {
    font-size: 16px;
    color: var(--BK);
    line-height: 1.4;
}

h1 {
    margin-bottom: 24px;
}

h2,
h3 {
    margin-bottom: 0;
}

h2>i {
    margin-right: 10px;
}


.space-8px {
    padding-top: 8px;
}

.space-16px {
    padding-top: 16px;
}

/* --------------------------------------------------
    Global Classes
-------------------------------------------------- */
.main {
    padding: 56px 0 0;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.main-content {
    min-height: calc(100vh - 70px);
    margin-bottom: -150px;
    overflow-x: hidden;
}

.main-content:after {
    content: "";
    display: block;
    height: 150px;
    /* これもフッターの高さに合わせて調整 */
}

.container {
    width: 100vw;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    row-gap: 16px;
}

.no-display {
    display: none;
}

.card-outer {
    background-color: var(--WH);
    border: solid 1px var(--AS);
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /*
    margin-bottom: 16px;
    */
    position: relative;
}

.card-outer:has(a:visited) {
    background-color: var(--LV);
    border: solid 1px var(--AS);
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /*
    margin-bottom: 16px;
    */

}

.page-title {
    display: inline-flex;
    align-items: flex-start;
    column-gap: 8px;
    padding: 0 8px;
    margin-bottom: 0px;
}


.page-title h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.manga-card-rating.disabled {
    color: var(--AS);
}

/* --------------------------------------------------
    Reusable Module (ReadMore)
-------------------------------------------------- */

.read-more-002 {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}

.read-more-002 p {
    font-size: 14px;
    color: var(--BK);
    line-height: 1.4;
    display: -webkit-box;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* 開く前に見せたい行数を指定 */
}

.read-more-002:has(:checked) p {
    display: block;
}

.read-more-002 p::after {
    font-size: 14px;
    color: var(--BK);
    line-height: 1.4;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .9) 35%, hsla(0, 0%, 100%, .9) 0, #fff);
    content: '';
}

.read-more-002:has(:checked) p::after {
    content: none;
}

.read-more-002 label {
    display: flex;
    align-items: center;
    gap: 0 8px;
    position: absolute;
    bottom: -24px;
    left: 44%;
    transform: translateX(-22%);
    color: var(--PL);
    font-size: 14px;
}

.read-more-002 label:hover {
    color: var(--HL);
    text-decoration: underline;
    cursor: pointer;
}

.read-more-002:has(:checked) label {
    display: none;
}

.read-more-002 label::after {
    display: inline-block;
    width: 14px;
    height: 7px;
    background-color: var(--PL);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.read-more-002 input {
    display: none;
}


.read-more-003 {
    position: relative;
    margin-bottom: 24px;
    width: 100%;
}

.read-more-003 p {
    font-size: 14px;
    color: var(--BK);
    line-height: 1.4;
    display: -webkit-box;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    /* 開く前に見せたい行数を指定 */
}

.read-more-003:has(:checked) p {
    display: block;
}

.read-more-003 p::after {
    font-size: 14px;
    color: VAR(--BK);
    line-height: 1.4;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .9) 50%, hsla(0, 0%, 100%, .9) 0, #fff);
    content: '';
}

.read-more-003:has(:checked) p::after {
    content: none;
}

.read-more-003 label {
    display: flex;
    align-items: center;
    gap: 0 8px;
    position: absolute;
    bottom: -6px;
    left: 34%;
    transform: translateX(-17%);
    color: var(--PL);
    font-size: 14px;
}

.read-more-003 label:hover {
    color: var(--HL);
    text-decoration: underline;
    cursor: pointer;
}

.read-more-003:has(:checked) label {
    display: none;
}

.read-more-003 label::after {
    display: inline-block;
    width: 14px;
    height: 7px;
    background-color: var(--PL);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.read-more-003 input {
    display: none;
}



/* --------------------------------------------------
    Reusable Module (btn)
-------------------------------------------------- */
.more-btn-container {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 16px;
}

.more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    height: 40px;
    border: solid 1px var(--AS);
    border-radius: 20px;
    text-align: center;
    background-color: var(--WH);
}

.more-btn :hover {
    cursor: pointer;
}

.more-btn-text {
    font-size: 18px;
    color: var(--BK);
}

.more-btn-link {
    display: block;
    height: 100%;
}

.btn-ia-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-ia {
    border: 0;
    color: var(--GR);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.btn-ia-text {
    font-size: 14px;
}

.btn-admin {
    height: fit-content;
    margin-top: 4px;
}


/* --------------------------------------------------
    Reusable Module (Tab)
-------------------------------------------------- */
.tab-container {
    height: 48px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    overflow: auto;
}

.tab {
    height: 100%;
/*    min-width: 150px;*/
    color: var(--GR);
    border-top: solid 0.5px var(--AS);
    border-bottom: solid 0.5px var(--AS);
    background-color: var(--WH);
    padding: 0px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.tab-current {
    color: var(--PL);
    font-weight: 600;
    position: relative;
}

.tab-current::after {
    background-color: var(--PL);
    border-radius: 3px;
    content: "";
    display: block;
    height: 2.5px;
    position: absolute;
    width: 100%;
/*    width: 66%;*/
/*    left: 17%;*/
    bottom: 0px;
}

.tab-link {
    display: block;
    width: 50%;
}

.tab-text {
    line-height: 100%;
    font-size: 14px;
    color: inherit;
    font-weight: inherit;
}

.tab i {
    font-size: 24px;
}


/* --------------------------------------------------
    Reusable Module (select2)
-------------------------------------------------- */
.select2-selection__rendered {
    font-size: 14px;
}

.select2-results__options {
    font-size: 14px;
}


/* --------------------------------------------------
    Icon Styling
-------------------------------------------------- */

/* アイコンのサイズを変更するためのルール */
.material-icons-outlined.md-12 {
    font-size: 12px;
}

.material-icons-outlined.md-14 {
    font-size: 14px;
}

.material-icons-outlined.md-16 {
    font-size: 16px;
}

.material-icons-outlined.md-18 {
    font-size: 18px;
}

.material-icons-outlined.md-20 {
    font-size: 20px;
}

.material-icons-outlined.md-24 {
    font-size: 24px;
}

.material-icons-outlined.md-28 {
    font-size: 28px;
}

.material-icons-outlined.md-32 {
    font-size: 32px;
}

.material-icons-outlined.md-36 {
    font-size: 36px;
}

.material-icons-outlined.md-40 {
    font-size: 40px;
}

.material-icons-outlined.md-48 {
    font-size: 48px;
}

.material-icons-outlined.md-56 {
    font-size: 56px;
}

.md-12 {
    font-size: 12px;
}

.md-14 {
    font-size: 14px;
}

.md-16 {
    font-size: 16px;
}

.md-18 {
    font-size: 18px;
}

.md-20 {
    font-size: 20px;
}

.md-24 {
    font-size: 24px;
}

.md-28 {
    font-size: 28px;
}

.md-32 {
    font-size: 32px;
}

.md-36 {
    font-size: 36px;
}

.md-40 {
    font-size: 40px;
}

.md-48 {
    font-size: 48px;
}

.md-56 {
    font-size: 56px;
}

/* アイコンの色を変更するためのルール */
.md-WH {
    color: var(--WH);
}

.md-BK {
    color: var(--BK);
}

.md-GR {
    color: var(--GR);
}

.md-AS {
    color: var(--AS);
}

.md-HL {
    color: var(--HL);
}

.md-PL {
    color: var(--PL);
}

.md-star {
    color: #FFBA1A;
}

.material-icons-outlined.md-bold {
    font-weight: 1000;
}

.material-icons-outlined.star {
    color: #FFBA1A;
}


/* --------------------------------------------------
    Manga-Card Styling
-------------------------------------------------- */
.manga-card-head {
    display: flex;
    margin-bottom: 16px;
    column-gap: 16px;
}

.manga-card-calligraphy {

    width: 120px;
    height: 174px;

    /*
    width: 128px;
    height: 180px;
*/
}

.manga-card-calligraphy img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.manga-card-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manga-card-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--BK);
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.manga-card-author-container {
    display: flex;
    column-gap: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.manga-card-author {
    font-size: 14px;
    color: var(--BK);
    width: fit-content;
    line-height: 1;
}

.manga-card-publication-container {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.manga-card-completion-flag {
    font-size: 10px;
    color: var(--HL);
    border: solid 0.5px var(--HL);
    border-radius: 4px;
    padding: 4px 8px;
    line-height: 100%;
}

.manga-card-volume {
    font-size: 14px;
    color: var(--BK);
}

.manga-card-ugc-container {
    display: flex;
    column-gap: 16px;
}

.manga-card-rating-container {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.manga-card-rating {
    font-size: 18px;
    font-weight: 700;
    color: var(--BK);
}

.manga-card-review-container {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--PL);
}

.manga-card-review {
    font-size: 14px;
    margin-top: 0px;
}


/* --------------------------------------------------
    不明
-------------------------------------------------- */
.wrap {
    width: 100%;
    display: flex;
}

.clm {
    width: 35%;
    background-color: var(--AS);
    padding: 250px 20px;
}




.review-module-head-user-img {
    border-radius: 50%;
}


/** info-module **/
/** info-module-head **/

.info-card-info {
    display: flex;
    column-gap: 12px;
    align-items: flex-end;
}

.info-card-text {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: var(--BK);
}

.info-module-head-sub {
    display: flex;
    column-gap: 8px;
    align-items: baseline;
}

.info-card-figure {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.info-card-img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.info-module-free {
    border: solid 0.5px var(--HL);
    border-radius: 2px;
    color: var(--HL);
    font-size: 12px;
    padding: 1px 8px 0;
}

.info-module-oneshot {
    border: solid 0.5px var(--PL);
    background-color: var(--WH);
    border-radius: 2px;
    color: var(--PL);
    font-size: 12px;
    padding: 1px 8px 0;
}

.info-module-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--BK);
    line-height: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
    /* border-bottom: 8px; */
}

.info-module-updateat {
    color: var(--GR);
    font-size: 12px;
}

.info-module-bookmark {
    margin: 0;
}


/** info-module-main **/

.info-module-main {
    display: flex;
    column-gap: 16px;
    margin-bottom: 16px;
    position: relative;
}

.info-module-main-img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    flex-shrink: 0;
}

.info-module-main-img img {
    width: 120px;
    height: 75px;
    object-fit: cover;
    flex-shrink: 0;
}

.info-module-main-text {
    display: flex;
    flex-flow: column;
    row-gap: 8px;
}

.info-module-subtitle {
    color: var(--BK);
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.info-module-author {
    color: var(--BK);
    font-size: 14px;
    font-weight: 100;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}


/** info-module-action **/


.btn-ia-container-info {
    display: flex;
    column-gap: 8px;
}

.btn-ia-container-store {
    display: flex;
    column-gap: 4px;
    border: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.btn-ia-container-info:visited * {
    color: var(--AS);
}

.btn-ia-container-info img {
    margin-right: -8px;
}


.btn-ia-text-info {
    color: var(--GR);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.change-toggle {
    margin-left: auto;
    margin-right: 8px;
    margin-bottom: 16px;
    display: flex;
    border: solid 1px var(--AS);
    width: fit-content;
    overflow: hidden;
    align-items: center;
    border-radius: 16px;
}

.change-toggle-btn {
    color: var(--BK);
    font-size: 12px;
    padding: 4px 16px;
    width: 100%;
    background-color: var(--WH);
    height: 100%;
    text-align: center;
}

.change-toggle-btn.current {
    background-color: var(--PL);
    color: var(--WH);
    font-weight: 700;
}

.change-toggle>a {
    color: var(--WH);
    line-height: 1.2;
    display: block;
    width: 100%;
}


.media-tag-container {
    width: 100vw;
    flex-wrap: nowrap;
    display: inline-flex;
    overflow: scroll;
    align-items: center;
    column-gap: 4px;
    padding: 8px 8px 8px;
    margin-bottom: 16px;
}

.media-tag {
    font-size: 12px;
    border: solid 0.5px var(--AS);
    border-radius: 20px;
    background-color: var(--WH);
    padding: 8px 10px;
    width: fit-content;
    white-space: nowrap;
}

.media-tag a {
    color: var(--BK)
}


/* --------------------------------------------------
    Other Styling
-------------------------------------------------- */

.tag-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 8px;
    padding: 0 16px;
    margin-bottom: 24px;
}

.tag {
    background-color: var(--PL);
    font-size: 12px;
    color: var(--WH);
    border-radius: 40px;
    padding: 4px 8px;
}

table.manga-info-table {
    table-layout: fixed;
    width: 100vw;
    border-top: solid 1px var(--AS);
    border-bottom: solid 1px var(--AS);
    border-collapse: separate;
    border-spacing: 0 10px;
    background: var(--WH);
}

table.manga-info-table th {
    vertical-align: middle;
    height: auto;
    width: 20%;
    border-right: solid 1px var(--AS);
    margin: 0;
    text-align: center;
    color: var(--BK);
    font-size: 14px;
    font-weight: bold;
}

table.manga-info-table td.data {
    padding: 0 16px;
    margin: 0;
    height: auto;
    width: 80%;
    border: none;
    color: var(--GR);
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    vertical-align: middle;
    overflow-wrap: normal;
}

table.manga-info-table td:fst-child {
    padding: 0 0 0 10px;
    vertical-align: middle;
}

table.manga-info-table td.bar {
    height: 1px;
    width: 100%;
    border-top: solid 1px var(--AS);
}


.notification {
    font-size: 14px;
    color: var(--BK);
    padding: 0 16px;
    margin-bottom: 24px;
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.notification-text {
    line-height: 100%;
}



.card-outer-uclist {
    background-color: var(--WH);
    border: solid 1px var(--AS);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /*
    margin-bottom: 16px;
    */
}

.uclist-card-main {
    padding: 16px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
}

.card-user {
    display: flex;
    column-gap: 16px;
}

.card-user-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: solid 1px var(--AS);
    border-radius: 20px;
}

.card-user-text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.card-user-text a {
    color: var(--BK);
}

.card-user-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
}

.card-user-name a {
    color: var(--BK);
}

.card-user-title {
    margin: 0;
    font-size: 11px;
    color: var(--BK);
    background-color: var(--LV);
    border-radius: 8px;
    padding: 2px 8px;
    display: flex;
    width: fit-content;
}

.uclist-card-counter-container {
    display: flex;
    column-gap: 16px;
}

.uclist-card-counter {
    color: var(--GR);
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--BK);
}

.uclist-card-description {
    font-size: 14px;
    color: var(--GR);
    line-height: 1.4;
}

.uclist-container {
    display: flex;
    column-gap: 8px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    margin-bottom: 16px;
}

.uclist-child {
    position: relative;
    width: 110px;
    background-color: var(--WH);
    border: solid 1px var(--AS);
    border-radius: 8px;
    flex-shrink: 0;
}

.uclist-child.__shelf {
    width: 100%;
}

.minimanga-module-calligrapy {
    aspect-ratio: 120 / 174;
    width: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}

.minimanga-module-calligrapy img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    flex-shrink: 0;
    object-fit: cover;
}

.minimanga-module-body {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}

.minimanga-module-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}

.minimanga-module-title a {
    font-size: 12px;
    font-weight: 550;
    color: var(--BK);
}

.minimanga-module-author-container {
    display: flex;
    height: fit-content;
    overflow: hidden;
    column-gap: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
}

.minimanga-module-author a,
.minimanga-module-author {
    font-size: 10px;
    color: var(--BK);
}

.minimanga-module-publication-container {
    display: flex;
    column-gap: 6px;
    align-items: center;
    margin-bottom: 8px;
}

.minimanga-module-completion-flag {
    font-size: 10px;
    color: var(--HL);
    border: solid 0.5px var(--HL);
    border-radius: 4px;
    padding: 2px 4px;
    line-height: 100%;
}

.minimanga-module-volume {
    font-size: 10px;
    color: var(--BK);
    line-height: 1rem;
}

.minimanga-module-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.minimanga-module-rating {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.minimanga-module-rating-text {
    font-size: 12px;
    font-weight: bold;
    color: var(--GR);
}

.minimanga-module-rating-text.disabled {
    color: var(--AS);
}

.minimanga-module-review {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--PL);
}

.minimanga-module-review-text {
    font-size: 12px;
}

.minimanga-action {
    display: flex;
    justify-content: center;
    column-gap: 4px;
    align-items: center;
    width: 89px;
    margin-bottom: 12px;
    border: solid 1px var(--AS);
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px;
}

.minimanga-kininaru {
    font-size: 12px;
}


.review-card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--BK);
}

.review-card-author {
    font-size: 12px;
    margin-right: 8px;
    color: var(--BK);
}

/* --------------------------------------------------
    Pagenation
-------------------------------------------------- */

nav.pagenation {
    margin: auto;
}

.pagenation {
    display: flex;
    text-align: center;
    column-gap: 8px;
    align-items: center;
}

.container.pagenation-container {
    padding: 0;
    margin-bottom: 0;
    width: 100%;
}

.page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--WH);
    border-radius: 50%;
    border: solid 1px var(--AS);
}

.page-item:hover,
.page-item.current:hover {
    background-color: var(--LV);
    color: var(--BK);
}


.page-item.current {
    background-color: var(--PL);
    border: none;
    position: relative;
}

.page-item.current::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 30px solid var(--PL);
    border-left: 10px solid transparent;
    bottom: 2px;
    right: 76%;
    z-index: -1;
    rotate: -8deg;
}

.page-item.current:hover::before {
    border-bottom-color: var(--LV);
}

.page-item-text {
    color: var(--BK);
    font-size: 12px;
    font-weight: 550;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.page-item-text.current {
    color: var(--WH);
}

.page-item.dot,
.page-item.prev,
.page-item.next {
    width: auto;
    background-color: transparent;
    border: none;
}

.page-item-text.dot {
    font-size: 14px;
    color: var(--BK);
}

.page-item-text.prev,
.page-item-text.next {
    font-size: 28px;
    color: var(--BK);
}

.page-item.disabled {
    display: none;
}


.review-card-rating-star {
    margin-top: 8px;
    display: flex;
    column-gap: 0;
    color: #FFBA1A;
    margin-bottom: 8px;
    margin-left: -2px;
}

.review-card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.review-card-body {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}

.review-card-body p {
    margin: 0;
}

.review-card-calligraphy {
    width: 120px;
    height: 174px;
    flex-shrink: 0;
    margin-bottom: 24px;
    float: right;
}

.review-card-calligraphy img {
    width: 120px;
    height: 174px;
    object-fit: cover;
}

.manga-action {
    display: flex;
    color: var(--GR);
    justify-content: space-between;
    font-size: 14px;
    position: relative;
}

.author-cover {
    display: flex;
    width: 100%;
    height: 180px;
    margin-bottom: 16px;
}

.author-cover figure {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimg {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

hr {
    border-top: solid 0.9px var(--AS);
    margin: 0 16px 24px 16px;
}

.info-module-meta {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.info-module-rating-text {
    font-size: 14px;
    font-weight: bold;
    color: var(--BK);
}

.info-module-rating-text.disabled {
    color: var(--AS);
}

.info-module-review-text {
    font-size: 14px;
}

.info-module-review {
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: var(--PL);
}

.shelf-form-container {
    display: flex;
    column-gap: 8px;
    padding: 0 16px;
    margin-bottom: 4px;
    justify-content: flex-end;
}

.shelf-form-icon {
    color: var(--GR);
}

.shelf-form-icon.current {
    color: var(--HL);
}

.card-outer-vertical {
    display: flex;
    column-gap: 8px;
    background-color: var(--WH);
    border: solid 1px var(--AS);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 8px;
}

.shelf-vertical-calligraphy {
    width: 64px;
    height: 94px;
}

.shelf-vertical-calligraphy img {
    width: 64px;
    height: 94px;
    border-radius: 8px 0 0 8px;
    flex-shrink: 0;
    object-fit: cover;
}

.shelf-vertical-text {
    padding: 4px 0;
    width: 100%;
}

.shelf-vertical-module-meta {
    display: flex;
    justify-content: flex-start;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 4px;
}

.shelf-vertical-btn {
    padding: 4px;
}

.shelf-vertical-btn .dropdown__body {
    display: none;
    width: 86px;
    background: #fff;
    /* box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302); */
    /* border-radius: 4px; */
    overflow: hidden;
    position: absolute;
    line-height: 1.4;
    top: 28px;
    left: -54px;
}

.dropdown {
    margin: 0 0 0 auto;
    position: relative;
}

.dropdown__btn-mini {
    display: flex;
    background-color: #ffffff;
}

.minimanga-action-mini {
    padding: 4px 8px;
    border: none;
    margin: 0;
}

.status-icon-mini {
    color: var(--HL);
}

.dropdown__btn-mini.is-open::after {
    content: "";
    width: 100%;
    height: 100%;
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.dropdown__btn-mini.is-open+.dropdown__body {
    display: block;
    z-index: 5;
}

.dropdown__body {
    display: none;
    width: 86px;
    background: #fff;
    /*
    box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
    */
    /*
    border-radius: 4px;
    */
    overflow: hidden;
    position: absolute;
    line-height: 1.4;
    top: 28px;
    left: 0;
}

.dropdown__body.mymenu {
    width: fit-content;
    top: 36px;
    left: auto;
    right: 16px;
    line-height: 1.8;
    font-size: 14px;
    color: #595959;
}

.dropdown__list {
    margin: 0;
}

.dropdown__item,
.dropdown_item {
    display: block;
    border: solid 1px #dedede;
    padding: 6px 10px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

.dropdown_item_text {
    display: inline-flex;
    height: 1em;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #595959;
}

.dropdown__btn.manga-info-btn {
    border: none;
    border-radius: 50%;
    position: absolute;
    background-color: var(--WH);
    padding: 0 0 3px 2px;
    height: 28px;
    width: 28px;
    top: 65px;
    left: 2px;
    z-index: 2;
}

.dropdown.manga-info {
    background-color: transparent;
}

.dropdown__body.manga-info {
    width: 100%;
    border: solid 1px var(--AS);
    border-radius: 4px;
    top: 92px;
    left: 8px;
    padding: 8px;
    line-height: 1.8;
    font-size: 14px;
    color: #595959;
}

.info-tag-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 4px;
    margin-bottom: 16px;
}

.tag-register-container {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.tag-register-btn {
    border: none;
    height: 100%;
    background-color: var(--WH);
    color: var(--GR);
    padding: 0;
}

.tag2 {
    background-color: var(--PL);
    font-size: 12px;
    color: var(--WH);
    border-radius: 40px;
    padding: 0 8px;
}

.small-text {
    color: var(--GR);
    font-size: 11px;
    padding: 0 0 0 4px;
}

.manga-info-form {
    width: 100%;
    font-size: 14px;
}


ul.store-btn-list li+li {
    border-top: 1px solid var(--AS);
}

.dropdown__btn.btn-ia-container-store {
    position: relative;
    color: var(--GR);
}

.dropdown__body.store-list {
    width: 100%;
    border: solid 1px var(--AS);
    border-radius: 4px;
    top: 32px;
    left: -4px;
    position: absolute;
    width: fit-content;
}

.store-btn-list-item {
    display: flex;
    padding: 0 8px;
    width: fit-content;
    height: 41px;
    justify-content: center;
    align-items: center;
}

.store-figure {
    padding: 0 8px;
}

.store-logo {
    width: 80px;
}

.filter-tag-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
    padding: 0 8px;
}

.filter-tag {
    display: flex;
    align-items: center;
    padding: 2px 4px;
    font-size: 12px;
    color: var(--BK);
}

.filter-tag-input {
    width: fit-content;
    font-size: 12px;
    margin-right: 4px;
}

.filter-tag-input+ {
    font-size: 12px;
    color: var(--BK);
}

.btn-filter {
    background-color: var(--PL);
    border-radius: 6px;
    border: solid 1px var(--PL);
    padding: 8px 8px;
    font-size: 12px;
    color: var(--WH);
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn-filter:disabled {
    background-color: var(--AS);
    border-radius: 6px;
    border: solid 1px var(--AS);
    padding: 8px 8px;
    font-size: 12px;
    color: var(--WH);
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}


/*ベース*/
.accordion-toggle {
    display: none;
}

.accordion-label {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    display: block;
    color: var(--WH);
    background-color: var(--PL);
    margin-bottom: 8px;
}

.accordion-label::before {
    /*タイトル横の矢印*/
    content: "";
    width: 6px;
    height: 6px;
    border-top: 2px solid var(--WH);
    border-right: 2px solid var(--WH);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: calc(50% - 3px);
    right: 20px;
    transform: rotate(135deg);
}

.accordion-label,
.content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}

.accordion-content {
    /*本文*/
    height: 0;
    margin-bottom: 10px;
    padding: 0 20px;
    overflow: hidden;
}

.accordion-toggle:checked+.accordion-label+.accordion-content {
    /*開閉時*/
    height: auto;
    padding: 8px 0;
    transition: height 0.3s;
}

.accordion-toggle:checked+.accordion-label::before {
    transform: rotate(-45deg) !important;
}

.dropdown__btn.btn-store-circle {
    width: 32px;
    height: 32px;
    position: absolute;
    color: var(--BK);
    border: solid 1px var(--AS);
    background-color: var(--WH);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 2;
    bottom: 4px;
    right: 4px;
    padding: 1px;
}

.uclist-child-figure {
    position: relative;
}

.dropdown__body.store-list-circle {
    width: 100%;
    border: solid 1px var(--AS);
    border-radius: 4px;
    top: 156px;
    left: 0;
    position: absolute;
    width: fit-content;
    overflow: visible;
}

.dropdown__body.manga-info {
    width: 100%;
    border: solid 1px var(--AS);
    border-radius: 4px;
    top: 92px;
    left: 8px;
    padding: 8px;
    line-height: 1.8;
    font-size: 14px;
    color: #595959;
}

.manga-info-synopsys {
    font-size: 12px;
    color: var(--BK);
    margin-bottom: 8px;
}

.manga-info-hr {
    border-top: solid 0.9px var(--AS);
    margin: 0 4px 8px 4px;
}

.dropdown__btn.manga-info-uclist-btn {
    border: none;
    border-radius: 50%;
    position: absolute;
    background-color: var(--WH);
    padding: 0 0 3px 2px;
    height: 28px;
    width: 28px;
    top: 4px;
    left: 4px;
    z-index: 3;
}

.dropdown__body.manga-info-uclist {
    width: calc(100vw - 32px);
    border: solid 1px var(--AS);
    border-radius: 4px;
    top: 32px;
    left: 4px;
    padding: 8px;
    line-height: 1.8;
    font-size: 14px;
    color: #595959;
    position: absolute;

}

.webmanga-config {
    margin-bottom: 16px;
}

.webmanga-settings {
    display: flex;
    border: solid 1px var(--AS);
/*    border-left: none;*/
/*    border-radius: 0 24px 24px 0;*/
/*    padding: 4px 8px 4px 6px;*/
    border-radius: 6px;
    padding: 4px 8px;
    column-gap: 4px;
    width: fit-content;
    align-items: center;
    background-color: var(--WH);
}

.webmanga-setting-myset-btn {
    display: flex;
}

.webmanga-setting-myset {
    cursor: pointer;
    display: flex;
    border: solid 1px var(--AS);
    border-radius: 8px 0 0 8px;
    background-color: var(--WH);
    width: fit-content;
    padding: 4px 8px 4px 12px;
    column-gap: 6px;
    align-items: center;
}

.webmanga-settings-text {
    font-size: 12px;
    line-height: 100%;
    white-space: nowrap;
}

.webmanga-settings-modified {
    color: var(--PL);
/*    padding: 4px 6px 4px 12px;*/
    padding: 4px 8px;
    border: solid 1px var(--PL)
}

.webmanga-settings-text::after {
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 4px;
    margin-bottom: 1px;
    background-color: var(--GR);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.webmanga-settings-text.webmanga-settings-modified::after {
    color: var(--PL);
}

.webmanga-genres-container {
    width: 100vw;
    flex-wrap: nowrap;
    display: inline-flex;
    overflow: scroll;
    align-items: center;
    column-gap: 6px;
    padding: 0 12px 4px;
    position: relative;
    margin-bottom: 16px;
}

.webmanga-genres-select-all{
    display: flex;
    font-size: 12px;
    column-gap: 4px;
    align-items: center;
}

.webmanga-genres-select-all span {
    display: inline-block;
    line-height: 1; /* これを設定して文字が上に寄らないように調整 */
}

/* カスタムチェックボックスの外観を作成 */
#selectAllGenres {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--WH);
    border-radius: 3px;
    border: 1px solid var(--AS);
    cursor: pointer;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* チェック状態のスタイル */
#selectAllGenres:checked {
    background-color: var(--PL); /* チェックされたときの色 */
    border-color: var(--PL);
}

#selectAllGenres:checked::after {
    content: "✓"; /* チェックマークの文字 */
    font-size: 14px;
    color: var(--WH); /* チェックマークの色 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.webmanga-genres-item {
    font-size: 12px;
    color: var(--GR);
    border: solid 1px var(--AS);
    border-radius: 6px;
    background-color: var(--WH);
    padding: 6px 8px;
    width: fit-content;
    white-space: nowrap;
}

.webmanga-genres-item:has(input:checked) {
    color: var(--PL);
    border: solid 1px var(--PL);
}

.webmanga-genres-checkbox-inform,
.webmanga-genre-checkbox-outer {
    width: auto;
    display: none;
    line-height: 100%;
}

/*.webmanga-settings-pill{*/
/*    display: flex;*/
/*    column-gap: 0;*/
/*    flex-wrap: wrap;*/
/*    border-radius: 12px;*/
/*}*/

.webmanga-settings-radio label {
    font-size: 10px;
    color: var(--GR);
    border: solid 1px var(--AS);
    background-color: var(--WH);
    padding: 4px 10px;
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}

#free-paid+label,
#follow-nofollow+label,
#show-oneShot+label {
    border-radius: 20px 0 0 20px;
}

#free-only+label,
#follow-only+label,
#hide-oneShot+label {
    border-radius: 0 20px 20px 0;
}

.webmanga-settings-radio input[type="radio"]:checked+label {
    background-color: var(--PL);
    color: var(--WH);
    border-color: var(--PL);
}

.webmanga-settings-radio input[type="radio"]+label {
    background-color: transparent;
}

.webmanga-settings-radio label:hover {
    border-color: var(--HL);
    color: var(--HL);
}



/* ここから */
.webmanga-setting-toggle {
    display: flex;
    align-items: center;
    position: relative;
    width: 48px;
    height: 24px;
}

/* checkboxは非表示 */
.webmanga-setting-toggle-input {
    display: none;
}

/* スライダーのスタイル */
.webmanga-setting-toggle-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    /* オフ時の背景色 */
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
}

/* オンの時の背景色 */
.webmanga-setting-toggle-input:checked+.webmanga-setting-toggle-slider {
    background-color: var(--PL);
}

/* スライダーの丸い部分 */
.webmanga-setting-toggle-slider::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: 0.4s;
}

/* ここまで */
.webmanga-setting-toggle-input:checked+.webmanga-setting-toggle-slider::before {
    transform: translateX(24px);
}




#webmanga-settings-popup,
#webmanga-settings-myset {
    display: none;
    /* label でコントロールするので input は非表示に */
}

.webmanga-setting-popup-open {
    cursor: pointer;
    /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}

.webmanga-setting-popup-overlay {
    display: none;
    /* input にチェックが入るまでは非表示に */
}

#webmanga-settings-popup:checked~.webmanga-setting-popup-overlay {
    display: flex;
    z-index: 3500;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.webmanga-setting-popup-window {
    width: 90vw;
    max-width: 560px;
    max-height: 75vh;
    height: fit-content;
    border-radius: 6px;
    position: relative;
}

.webmanga-setting-popup-content {
    width: 100%;
    max-height: 75vh;
    border-radius: 6px;
    padding: 0;
    background-color: var(--WH);
    overflow: hidden;
}

.webmanga-setting-popup-title-container {
    position: relative;
    border-bottom: solid 1px var(--AS);
    display: flex;
    padding: 12px;
    background-color: #fafafa;
    justify-content: center;
    font-size: 14px;
}

.webmanga-setting-toggle-switch-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 12px;
    overflow: auto;
    max-height: calc(75vh - 100px);
}

.webmanga-setting-popup-text {
    font-size: 14px;
    color: var(--BK);
}

.webmanga-setting-popup-close {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 3000;
}

.webmanga-setting-popup-close.btn-cancel {
    position: static;
    background-color: var(--WH);
    border: solid 1px var(--AS);
    border-radius: 6px;
    padding: 8px 8px;
    font-size: 12px;
    color: var(--BK);
    width: 100%;
    height: 100%;
    text-align: center;
}

.webmanga-setting-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.webmanga-setting-btn-container {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-top: solid 1px var(--AS);
    background-color: #fafafa;
}

.webmanga-setting-row-title {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.webmanga-setting-icon {
    background-color: var(--HL);
    border-radius: 50%;
    align-items: center;
    display: flex;
    padding: 4px;
}

.webmanga-setting-icon.close-icon {
    background-color: var(--WH);
    border: solid 0.8px var(--GR);
}

.webmanga-settings-items {
    display: flex;
    column-gap: 8px;
    row-gap: 12px;
    flex-wrap: wrap;
    align-items: center;
}

.notion-container {
    padding: 16px 12px 16px;
    background-color: #fafafa;
    border-bottom: 1px solid var(--AS)
}

.notion-register {
    border: solid 1px var(--PL);
    border-radius: 6px;
    background-color: var(--LV);
    padding: 8px 16px;
    width: 100%;
}

.notion-text-container {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    margin-bottom: 16px;
}

.notion-text {
    font-size: 14px;
    color: var(--PL);
    line-height: 1.5em;
}

.btn-notion {
    border: solid 1px var(--GR);
    border-radius: 6px;
    padding: 8px 8px;
    margin-bottom: 8px;
    line-height: 1rem;
    text-align: center;
    font-size: 14px;
    background-color: var(--WH);
    color: var(--BK);
}

.tmp-container {
    padding: 0 16px;
    width: 100%;
}

.tmp-container-2 {
    padding: 0 24px;
    width: 100%;
    height: 85%;
    margin-bottom: 48px;
}

.suggest-text {
    font-size: 14px;
    color: var(--PL);
    line-height: 1.5em;
    text-align: left;
}

.col-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}


input[id^=alert-popup] {
    display: none;
    /* label でコントロールするので input は非表示に */
}

.alert-popup-open {
    cursor: pointer;
    /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}

.alert-popup-open.wd-100 {
    width: 100%;
}

.alert-popup-overlay {
    display: none;
    /* input にチェックが入るまでは非表示に */
}

input[id^=alert-popup]:checked~.alert-popup-overlay {
    display: block;
    z-index: 3500;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.alert-popup-window {
    width: 90vw;
    max-width: 560px;
    /*  max-height: calc((100vh - 26px) * 0.85); */
    max-height: 90vh;
    padding: 20px 16px;
    background-color: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert-popup-title {
    font-size: 20px;
    color: var(--BK);
    text-align: center;
    margin-bottom: 24px;
}

.alert-popup-text {
    font-size: 16px;
    color: var(--BK);
    margin-bottom: 12px;
}

.alert-popup-close {
    cursor: pointer;
    position: absolute;
    top: -24px;
    right: 0;
}

.dropdown.margin-cancel {
    margin-left: 0;
}


.alert-popup-container {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    margin-bottom: 16px;
}

.alert-popup-text {
    font-size: 14px;
    color: var(--GR);
    line-height: 1.5em;
    margin-bottom: 0;
}

.alert-popup-text-container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.btn-alert {
    border-radius: 6px;
    padding: 8px 8px;
    margin-bottom: 8px;
    line-height: 1rem;
    text-align: center;
    color: var(--WH);
    font-size: 14px;
    background-color: var(--PL);
}

.footer-container {
    background-color: var(--PL);
    width: 100%;
    padding: 16px 16px 68px;
    text-align: center;
}

.footer-logo {
    width: 180px;
    margin: 0 auto;
    padding: 0 8px 0 0;
}

.footer-credit {
    color: var(--WH)
}


input[id^=post-popup] {
    display: none;
    /* label でコントロールするので input は非表示に */
}

.post-popup-open {
    cursor: pointer;
    /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
    margin: 0 auto;
}

.post-popup-overlay {
    display: none;
    /* input にチェックが入るまでは非表示に */
}

input[id^=post-popup]:checked~.post-popup-overlay {
    display: block;
    z-index: 3500;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.post-popup-window {
    width: 90vw;
    max-width: 560px;
    /*  max-height: calc((100vh - 26px) * 0.85); */
    max-height: 90vh;
    padding: 20px 16px;
    background-color: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-popup-close {
    cursor: pointer;
    position: absolute;
    top: -24px;
    right: 0;
}

.post-popup-container {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
    margin-bottom: 24px;
}

.post-popup-text {
    font-size: 14px;
    color: var(--BK);
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 0;
    text-align: left;
}

.post-popup-text-container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.post-popup-btn-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.btn-post {
    border-radius: 6px;
    padding: 8px 8px;
    margin-bottom: 8px;
    line-height: 1rem;
    justify-content: center;
    column-gap: 16px;
    color: var(--WH);
    font-size: 14px;
    background-color: var(--PL);
    display: flex;
    align-items: center;
}



#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(225, 216, 240, 0.95);
    /* ローディング中の画面の背景色 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 980;
    /* 必要に応じて変更 */
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--HL);
    /* ローディングアイコンの色 */
    border-color: var(--HL) transparent var(--HL) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.triangle {
    width: 0px;
    height: 0px;
    border-bottom: 24px solid var(--PL);
    border-left: 24px solid var(--HL);
}

.tag-selectbox-dummy {
    padding: 0 8px;
    vertical-align: middle;
    background-color: var(--WH);
    border: 1px solid var(--GR);
    border-radius: 4px;
    width: 100%;
}

.tag-selectbox-dummy {
    padding: 5px 5px;
    vertical-align: middle;
    background-color: var(--WH);
    border: 1px solid var(--GR);
    border-radius: 4px;
    width: 100%;
    color: var(--AS)
}

.under-construction {
    display: flex;
    border: 2px dotted var(--AS);
    border-radius: 8px;
    padding: 4px 8px;
    column-gap: 8px;
    align-items: center;
}

.under-construction-text {
    font-size: 14px;
    color: var(--AS)
}

.default-user-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    width: 100%;
    height: 100%;
    background-color: var(--PL);
    text-align: center;
    position: relative;
}

.default-user-cover-logo {
    height: 40%;
    margin-right: 14px;
}

.default-user-cover-text {
    color: var(--WH);
    font-size: 14px;
    margin: 0;
}

.default-user-cover-notice-container {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--LV);
    position: absolute;
    top: 16px;
}

.default-user-cover-notice {
    font-size: 12px;
    color: var(--LV);
}

.nolist-message-container {
    display: flex;
    width: 100%;
    /*
    height: calc(100vh - 350px);
    */
    height: 80%;
    text-align: center;
    align-items: center;
}

.nolist-message-container.short {
    max-height: 120px;
}

.nolist-message-text {
    color: var(--AS);
    width: 100%;
    line-height: 1.5;
    margin-bottom: 100px;
}



.manga-card-synopsis.__as {
    color: var(--AS);
}

.manga-card-media-logo-figure {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border: 0.8px solid var(--AS);
    border-radius: 6px;
    overflow: hidden;
}

.manga-card-media-logo-img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.manga-card-media-logo-container {
    display: flex;
    column-gap: 12px;
    height: 32px;
}


.manga-detail-note-container {
    min-height: calc((100vh - 350px) * 0.3);
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 16px;
}

.manga-detail-note-text {
    margin-bottom: 30px;
    color: var(--AS);
    width: 100%;
    line-height: 1.5;
}

.link-pl {
    color: var(--PL);
}

.suggest-text.bld {
    font-weight: 700;
}

.btn-suggest-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: fit-content;
    height: calc(100vh - 540px);
    margin: auto;
    margin-bottom: 64px;
    margin-top: 24px;
}

.btn-sugges-link {
    display: inline-block;
    color: var(--WH);
}

.btn-suggest {
    text-align: center;
    width: 100%;
    border-radius: 8px;
    background-color: var(--PL);
    padding: 6px 16px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: center;
}

.btn-suggest-text {
    font-size: 14px;
    color: var(--WH);
}

.tab-webmanga {
    position: relative;
}

.tab-webmanga:before {
    content: attr(data-custom-content);
    position: absolute;
    top: 4px;
    right: 4px;
    color: var(--WH);
    background: red;
    font-size: 10px;

}

.link-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 8px;
    margin-bottom: 32px;
}

.user-update-link {
    font-size: 14px;
    line-height: normal;
}

.form-wrapper {
    padding: 0 16px;
}


.description-text-container {
    position: relative;
    margin-bottom: 20px;
}

.card-description-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /*    line-height: 1.5em;*/
    font-size: 14px;
    color: var(--GR);
    line-height: 1.5;
}

.card-description-text.__long {
    -webkit-line-clamp: 9;
}

.read-more {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--WH);
    color: var(--PL);
    padding-left: 16px;
    cursor: pointer;
    font-size: 14px;
    /*    height: 1.5em;*/
    line-height: 1.5;
}

.card-description-text.__as {
    color: var(--AS);
}

.user-selfinfo-container {
    padding: 0 16px;
}

#loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(125, 125, 125, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    max-width: 100vw;
    /* 最大幅を画面内に収める */
    box-sizing: border-box;
    /* パディングを含めて幅を計算 */
    overflow: hidden;
    /* スクロールバーがスピナーに表示されないようにする */
    width: fit-content;
}

#loading-indicator .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    /* 薄い外側のリング */
    border-top: 8px solid var(--PL);
    /* 濃い色の部分 */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* スピナーのアニメーション */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.manga-info-dropdown {
    position: absolute;
    z-index: 10;
    top: 82px;
    left: 18px;
    width: 100%;
}

.manga-info-dropdown.for-uclist {
    top: 4px;
    left: 4px;
}

/* チェックボックスを非表示にする */
.manga-info-toggle {
    display: none;
}

.manga-info-btn {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background-color: var(--WH);
    color: var(--PL);
    text-align: center;
}

/* 初期状態で非表示 */
.manga-info-content {
    position: absolute;
    display: none;
    background-color: #fafafa;
    /* 必要に応じてスタイルを追加 */
    border-radius: 4px;
    border: solid 1px var(--AS);
    padding: 14px 10px 6px 10px;
    line-height: 1.8;
    font-size: 14px;
    color: var(--BK);
    top: 30px;
    left: 0;
    width: calc(100% - 16px);
    max-width: 584px;
    transform: translateX(-11px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 5001;
}

.manga-info-content.for-uclist {
    padding: 12px 10px 8px 10px;
    position: fixed;
    width: calc(100vw - 32px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9001;
}


/* チェックボックスがチェックされた場合に表示 */
.manga-info-toggle:checked+.manga-info-btn+.manga-info-content {
    display: block;
}

/* モーダルのスタイル */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9000;
}

.modal-close {
    position: absolute;
    top: -32px;
    right: 0;
    z-index: 9002;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.review-badge {
    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--WH);
    width: fit-content;
    padding: 3px;
    border-radius: 50%;
}

.review-post {
    position: absolute;
    top: 3px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--WH);
    width: fit-content;
    padding: 2px 3.5px;
    border-radius: 50%;
}

.manga-info-synopsis {
    font-size: 12px;
    margin-bottom: 8px;
}