<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">

<head>
<link rel="stylesheet" th:href="@{/css/manga-list-module.css}">
<link rel="stylesheet" th:href="@{/css/manga/review.css}">
<link rel="stylesheet" th:href="@{/css/tab.css}">
<title th:text="|${manga.title}の詳細情報・レビュー|"></title>
</head>

<div layout:fragment="content"> <!-- layoutに送る -->


<!--/* まんがリストモジュールを呼び出し（${mangalist},${reviewlist}を引数として渡す） */-->
<div class="container" th:with="mangalist=${manga}" layout:include="module/card/manga-card :: manga-card(object='${mangalist}, ${reviewlist}, ${likelist}, ${wantlist}, ${readlist}')"></div>

<!--/* タグ */-->
<div class="tag-container">
    <span class="tag"># ダミー</span><span class="tag"># ダミー</span>
    <span class="tag"># ダミー</span><span class="tag"># ダミー</span>
    <span class="tag"># ダミー</span><span class="tag"># ダミー</span>
    <span class="tag"># ダミー</span><span class="tag"># ダミー</span>
</div>

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/manga/{id}(id=${manga.id})}">
        <div class="tab tab-current">
            <i class="uil uil-arrow-growth"></i>
            <span class="tab-text">オススメ情報</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/manga/review/{id}(id=${manga.id})}">
        <div class="tab">
            <i class="uil uil-comment-lines"></i>
            <span class="tab-text">みんなのレビュー</span>
        </div>
    </a>
</div>

    <div class="page-title">
        <i class="uil uil-sync"></i>
        <h4 th:text="|${manga.title}のWeb連載 更新情報|"></h4>
    </div>

<th:block th:if="!${infolist.isEmpty}">
<!--/* インフォリストモジュールを呼び出し（${infolist}を引数として渡す） */-->
<div class="container" layout:include="module/card/info-card-module :: info-card-module(object='${infolist}, ${likelist}')"></div>
<!--/* もっとみるボタン */-->
<div class="more-btn-container">
    <button class="more-btn" th:attr="onClick='location.href=\''+@{/web-manga-update-info/manga/{id}(id=${manga.id})}+'\''">
            <span class="more-btn-text">もっとみる</span>
<!--             <span class="material-icons-outlined md-32 md-595959">chevron_right</span>
 -->    </button>
</div>
</th:block>
<th:block th:if="${infolist.isEmpty}">
    <div class="notification">
    <i class="uil uil-sad-cry md-24 md-7e7e7e"></i>
    <span clas=""notification-text>Webでの連載情報はありません・・・</span>
    </div>
</th:block>

    <div class="page-title">
        <i class="uil uil-info-circle"></i>
        <h4 th:text="|${manga.title}の詳細情報|"></h4>
    </div>
    <table class="manga-info-table">
        <tbody>
            <tr>
                <th>作品名</th>
                <td class="data fst" th:text="${manga.title}"></td>
            </tr>
            <tr>
                <td class="bar" colspan="6"></td>
            </tr>
            <tr>
                <th>出版社</th>
                <td class="data fst" th:text="${manga.publisher}"></td>
            </tr>
            <tr>
                <td class="bar" colspan="6"></td>
            </tr>
            <tr>
                <th>掲載誌</th>
                <td class="data fst" th:text="${manga.publishedIn}"></td>
            </tr>
        </tbody>
    </table>

</div>

</html>