<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">

<head>
<link rel="stylesheet" th:href="@{/css/manga-list-module.css}">
<title>まんが一覧</title>
</head>

<div layout:fragment="content"> <!-- layoutに送る -->

<!--/* 検索モジュールを呼び出し（${}を引数として渡す） */-->
<div class="search" layout:include="module/search-module :: search-module(object='')"></div>

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/manga}">
        <div class="tab tab-current">
            <i class="uil uil-bolt"></i>
            <span class="tab-text">新着順</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/manga/popular}">
        <div class="tab">
            <i class="uil uil-fire"></i>
            <span class="tab-text">人気順</span>
        </div>
    </a>
</div>

<!-- 見出し -->
<div class="page-title">
    <i class="uil uil-book-open md-24"></i>
    <h2>まんが一覧</h2>
</div>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<div class="container" layout:include="module/pagenation-module :: pagenation-module(object='${pages}')"></div>

<!--/* まんがカードモジュールを呼び出し */-->
<div class="container" layout:include="module/card/manga-card :: manga-card(object='${mangalist}, ${reviewlist}, ${likelist}, ${wantlist}, ${readlist}')"></div>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<div class="container" layout:include="module/pagenation-module :: pagenation-module(object='${pages}')"></div>
</div>

</html>