<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">

<head>
    <title>サケマン | Webまんがサイトの更新情報やレビューなどがここに</title>
</head>

<div layout:fragment="content">
<div th:if="${success}" class="alert alert-success">[[${success}]]</div>

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/}">
        <div class="tab tab-current">
            <div class="tabicon">
                <i class="uil uil-arrow-growth"></i>
            </div>
            <span class="tab-text">オススメ</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/web-manga-update-info}">
        <div class="tab tab-webmanga"  th:data-custom-content="本日__${todaylistsize}__件">
            <div class="tabicon">
                <i class="uil uil-sync"></i>
            </div>
            <span class="tab-text">Web連載 更新</span>
        </div>
    </a>
</div>

<!-- リスト -->
<div class="container" th:with="text='新着のリスト', class='uil-list-ul'" layout:include="~{module/other/page-title-module :: h2(text=${text}, class=${class})}"></div>
<!--/* リストリストモジュールを呼び出し（${uclistlist}を引数として渡す） */-->
<div class="container" layout:include="~{module/card/uclist-card :: uclist-card(uclistlist=${uclistlist})}"></div>
<!--/* もっとみるボタン */-->
<div class="container" th:with="linkurl='@{/uclist/list}'" layout:include="~{module/btn/btn-see-more :: btn-see-more(linkurl=${linkurl}, pageobj=${uclPage})}"></div>

<!-- レビュー -->
<div class="container" th:with="text='新着のレビュー', class='uil-comment-lines'" layout:include="~{module/other/page-title-module :: h2(text=${text}, class=${class})}"></div>
<!--/* レビューリストモジュールを呼び出し（${reviewlist}を引数として渡す） */-->
<div class="container" layout:include="~{module/card/review-card-module :: review-card-module(reviewlist=${reviewlist}, likelist=${likelist}, wantlist=${wantlist}, readlist=${readlist}, followlist=${followeelist})}"></div>
<!--/* もっとみるボタン */-->
<div class="container" th:with="linkurl='@{/review/list}'" layout:include="~{module/btn/btn-see-more :: btn-see-more(linkurl=${linkurl}, pageobj=${reviewPage})}"></div>


</div>

</html>