<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">

<head>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<div layout:fragment="content">
<div th:if="${success}" class="alert alert-success">[[${success}]]</div>
<!--/* 検索モジュールを呼び出し（${}を引数として渡す） */-->
<div class="search" layout:include="module/search-module :: search-module(object='')"></div>

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/}">
        <div class="tab tab-current">
            <i class="uil uil-arrow-growth"></i>
            <span class="tab-text">オススメ</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/web-manga-update-info}">
        <div class="tab">
            <i class="uil uil-sync"></i>
            <span class="tab-text">Web連載 更新</span>
        </div>
    </a>
</div>


<div class="page-title">
    <i class="uil uil-list-ul"></i>
    <h2>新着のリスト</h2>
</div>

<!--/* まんがリストモジュールを呼び出し（${uclistlist}を引数として渡す） */-->
<div class="container" layout:include="module/card/uclist-card :: uclist-card(object='${uclistlist}')"></div>

<!--/* もっとみるボタン */-->
<div class="more-btn-container">
    <button class="more-btn" th:attr="onClick='location.href=\''+@{/uclist}+'\''">
            <span class="more-btn-text">もっとみる</span>
<!--             <span class="material-icons-outlined md-32 md-595959">chevron_right</span>
 -->    </button>
</div>

<div class="page-title">
    <i class="uil uil-comment-lines"></i>
    <h2>新着のレビュー</h2>
</div>

<!--/* レビューリストモジュールを呼び出し（${reviewlist}を引数として渡す） */-->
<div class="container" layout:include="module/card/review-card-module :: review-card-module(object='${reviewlist}, ${likelist}, ${wantlist}, ${readlist}, ${followeelist}')"></div>

<!--/* もっとみるボタン */-->
<div class="more-btn-container">
    <button class="more-btn" th:attr="onClick='location.href=\''+@{/review}+'\''">
            <span class="more-btn-text">もっとみる</span>
    </button>
</div>


</div>

</html>