<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">

<head>
    <title>サケマン | Webまんがサイトの更新情報やレビューなどがここに</title>
    <!--
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    -->
</head>

<div layout:fragment="content">
<div th:if="${success}" class="alert alert-success">[[${success}]]</div>
<!--/* 検索モジュールを呼び出し（${}を引数として渡す） */-->
<!--
<div class="search" layout:include="module/search-module :: search-module(object='')"></div>
-->

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/}">
        <div class="tab tab-current">
            <i class="uil uil-arrow-growth"></i>
            <span class="tab-text">オススメ</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/web-manga-update-info}">
        <div class="tab tab-webmanga"  th:data-custom-content="本日__${todaylistsize}__件">
            <i class="uil uil-sync"></i>
            <span class="tab-text">Web連載 更新</span>
        </div>
    </a>
</div>

<!-- リスト -->
<div class="container" th:with="text='新着のリスト', class='uil-list-ul'" layout:include="module/other/page-title-module :: h2(object='')"></div>
<!--/* まんがリストモジュールを呼び出し（${uclistlist}を引数として渡す） */-->
<div class="container" layout:include="module/card/uclist-card :: uclist-card(object='${uclistlist}')"></div>
<!--/* もっとみるボタン */-->
<div class="container" th:with="linkurl='@{/uclist/list}', pageobj = ${uclPage}" layout:include="module/btn/btn-see-more :: btn-see-more(object='')"></div>

<!-- レビュー -->
<div class="container" th:with="text='新着のレビュー', class='uil-comment-lines'" layout:include="module/other/page-title-module :: h2(object='')"></div>
<!--/* レビューリストモジュールを呼び出し（${reviewlist}を引数として渡す） */-->
<div class="container" layout:include="module/card/review-card-module :: review-card-module(object='${reviewlist}, ${likelist}, ${wantlist}, ${readlist}, ${followeelist}')"></div>
<!--/* もっとみるボタン */-->
<div class="container" th:with="linkurl='@{/review/list}', pageobj = ${reviewPage}" layout:include="module/btn/btn-see-more :: btn-see-more(object='')"></div>


</div>

</html>