<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--
         layout:decorate="~{common/layout}"
 -->

<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex" />

<link rel="stylesheet" th:href="@{/css/normalize.css}">
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/login.css}">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/common/footer.css}">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<title>ログイン | サケマン</title>
</head>

<!--
    <div layout:fragment="content">
 -->
 <body>
 <main class="main">
     <section class="main-content-login">

<div th:if="${success}" class="alert alert-success">[[${success}]]</div>

    <figure class="signup-logo-fig">
        <img class="signup-logo" th:src="@{https://sake-man.com/system/logo_yoko_lined.png}">
    </figure>

    <div class="bordered-box">
        <div class="signup-title">
            <h2>ログイン</h2>
        </div>
    </div>

    <div class="welcome-message">
        <!--
        <p>いらっしゃいませ！</p>
        <p>きょうもほがらかにまんがを楽しみましょう！</p>
        -->
        <th:block th:if="${param.error}">
            <span class="err" th:if="${param.message.contains('badcredentialsex')}">ユーザーが存在しないか、またはパスワードが正しくありません。</span>
            <span class="err" th:if="${param.message.contains('disabledex')}">メールアドレス認証が完了していないか、アカウントが無効です。</span>
            <span class="err" th:if="${param.message.contains('unknownerror')}">予期しない認証エラーが発生しました。</span>
        </th:block>
    </div>

    <div class="form-wrapper">
    <form class="login-form" method="post" action="/login" th:action="@{/login}">
        <label class="login-form-label" for="email">メールアドレス：</label>
        <input class="login-input" type="text" id="email" name="email">
        <label class="login-form-label" for="password">パスワード：</label>
        <input class="login-input" type="password" id="password" name="password">
        <div class="remember-me">
            <input class="remember-me-checkbox" type="checkbox" id="remember-me" name="remember-me">
            <label class="remember-me-text" for="remember-me">ログインしたままにする</label>
        </div>
    <input class="login-btn" type="submit" name="loginRun" value="ログイン"/>
    </form>
    </div>

    <a class="login-password-reset" th:href="@{/password-reset}">パスワードをお忘れですか？</a>

    <div class="welcome-message">
    <p>アカウントをお持ちでない方は新規登録をどうぞ！！<br>楽しいよ！！</p>
    </div>
    <div class="btn-signup"><a class="signup-btn-link" th:href="@{/signup}">新規登録</a></div>
<!--
    </div>
-->
</section>
</main>
</body>
</html>