<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex" />

<link rel="stylesheet" th:href="@{/css/normalize.css}">
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/login.css}">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/common/footer.css}">
<link rel="stylesheet" th:href="@{/css/common/verification.css}">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<title>パスワード再設定 | サケマン</title>
</head>

 <body>
    <main class="main">
        <section class="main-content-login">

            <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
            <br>

            <figure class="signup-logo-fig">
                <img class="signup-logo" th:src="@{https://sake-man.com/system/logo_yoko_lined.png}">
            </figure>

            <div th:if="${verificationSuccess}">
                <div class="verification-title">
                    <h2>パスワードの再設定</h2>
                </div>

<!--
                <div class="verification-message">
                    <p>アカウントが有効になりました。<br>サケマンをお楽しみください！</p>
                </div>
-->

                <div class="form-wrapper">
                    <form class="login-form" method="post" th:action="@{/password-reset/reset-form}" th:object="${resetPasswordForm}">
                        <input type="hidden" name="token" th:value="*{token}">

                        <label class="login-form-label" for="password1">新しいパスワード：</label>
                        <span th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}" class="err"></span>
                        <input class="login-input" type="password" id="password1" name="password1">

                        <label class="login-form-label" for="password2">確認用：</label>
                        <span th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}" class="err"></span>
                        <input class="login-input" type="password" id="password2" name="password2" placeholder="パスワードを再入力してください">

                        <input class="login-btn" type="submit" value="再設定"/>
                    </form>
                </div>

            </div>
            <div th:unless="${verificationSuccess}">
                <div class="verification-title">
                    <h2>トークンエラー</h2>
               </div>
               <div class="verification-message">
                    <p>提供されたトークンが無効または期限切れです。<br>以下のフォームから再度手続おこなってください。</p>
                </div>
                <div class="form-wrapper">
                    <form class="login-form" method="post" th:action="@{/reissue}" >
                        <label class="login-form-label" for="email">メールアドレス：</label>
                        <input class="login-input" type="text" id="email" name="email">
                        <input class="login-btn" type="submit" value="メールを再送する"/>
                    </form>
                </div>
            </div>

        </section>
    </main>
</body>

</html>
