<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">

<head>
<link rel="stylesheet" th:href="@{/css/manga-list-module.css}">
<title>まんが一覧</title>
</head>

<div layout:fragment="content"> <!-- layoutに送る -->

<!-- 見出し -->
<div class="page-title">
    <i class="uil uil-book-open md-24 md-595959"></i>
    <h2>検索結果</h2>
</div>

<!--/* まんがリストモジュールを呼び出し（${mangalist},${reviewlist}を引数として渡す） */-->
<div class="container" th:with="mangalist=${searchResult}" layout:include="module/manga-list-module :: manga-list-module(object='${mangalist}, ${reviewlist}, ${likelist}, ${wantlist}, ${readlist}')"></div>

</div>

</html>