<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex" />

<link rel="stylesheet" th:href="@{/css/normalize.css}">
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/login.css}">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/common/footer.css}">
<link rel="stylesheet" th:href="@{/css/common/verification.css}">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<title>メールアドレス変更 | サケマン</title>
</head>

<body>
<main class="main">
<section class="main-content-login">

    <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
    <br>

    <figure class="signup-logo-fig">
        <img class="signup-logo" th:src="@{https://sake-man.com/system/logo_yoko_lined.png}">
    </figure>

    <div class="verification-title">
        <h2>メールアドレスの変更</h2>
    </div>

    <div class="form-wrapper">
        <form class="login-form" method="post" th:action="@{/update-email}" th:object="${updateEmailForm}">

            <label class="login-form-label" for="email">新しいメールアドレス：</label>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="err"></span>
            <input class="login-input" type="text" id="email" name="email">

            <label class="login-form-label" for="password1">パスワード：</label>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="err"></span>
            <input class="login-input" type="password" id="password" name="password">

            <input class="login-btn" type="submit" value="変更する"/>
        </form>
    </div>

</section>
</main>
</body>

</html>
