<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
    <title>Webまんがサイトの更新情報一覧 | サケマン</title>
    <script th:src="@{/js/web-manga-update-info-ajax.js(v=${'1.6'})}" defer></script>
</head>

<div layout:fragment="content">

<div id="loading-indicator"><div class="spinner"></div></div>

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/}">
        <div class="tab">
            <div class="tabicon">
                <i class="uil uil-arrow-growth"></i>
            </div>
            <span class="tab-text">オススメ</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/web-manga-update-info}">
        <div class="tab tab-current tab-webmanga" th:data-custom-content="本日__${todaylistsize}__件">
            <div class="tabicon">
                <i class="uil uil-sync"></i>
            </div>
            <span class="tab-text">Web連載 更新</span>
        </div>
    </a>
</div>

<!-- 見出し -->
<th:block th:with=" textappend= ${mangaobj != null} ? ${mangaobj.title} :
                               (${media != null} ? ${media.displayName} :
                                'Webまんがサイト') ">
    <div class="container" th:with="text='__${textappend}__の更新一覧', class='uil-sync'" layout:include="~{module/other/page-title-module :: h2(text=${text}, class=${class})}"></div>
</th:block>

<th:block th:if="${userSettings != null}">
    <div th:replace="~{module/other/webmanga-setting-form :: webmanga-setting-form(userSettings=${userSettings}, genreIdsExist=${genreIdsExist}, medialist=${medialist}, genrelist=${genrelist}, webmangafollowlist=${webmangafollowlist})}"></div>
</th:block>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<!--<div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${pages})}"></div>-->

<!--/* インフォリストモジュールを呼び出し（${infolist}を引数として渡す） */-->
<div class="container" id="web-manga-update-info-card-container" th:insert="~{module/card/info-card-module :: info-card-module(infolist=${infolist}, likelist=${likelist})}"></div>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<!--<div class="container" layout:include="~{module/pagenation-module :: pagenation-module(pages=${pages})}"></div>-->

<!--</div>-->
</html>