<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
    <title>Webまんがサイトの更新情報一覧 | サケマン</title>
    <!--
    <th:block th:if="${mangaobj==null}">
        <title th:text="${media==null} ? 'Webまんがサイトの更新情報一覧 | サケマン' : '__${media.displayName}__の更新情報一覧 | サケマン' "></title>
    </th:block>
    <th:block th:if="${mangaobj!=null}">
        <title th:text="__${mangaobj.title}__の更新情報一覧 | サケマン"></title>
    </th:block>
    -->

</head>

<div layout:fragment="content">

<!--/* タブ */-->
<div class="tab-container">
    <a class="tab-link" th:href="@{/}">
        <div class="tab">
            <i class="uil uil-arrow-growth"></i>
            <span class="tab-text">オススメ</span>
        </div>
    </a>
    <a class="tab-link" th:href="@{/web-manga-update-info}">
        <div class="tab tab-current tab-webmanga" th:data-custom-content="本日__${todaylistsize}__件">
            <i class="uil uil-sync"></i>
            <span class="tab-text">Web連載 更新</span>
        </div>
    </a>
</div>

<!-- 見出し -->
<th:block th:with=" textappend= ${mangaobj != null} ? ${mangaobj.title} :
                               (${media != null} ? ${media.displayName} :
                                'Webまんがサイト') ">
    <div class="container" th:with="text='__${textappend}__の更新一覧', class='uil-sync'" layout:include="module/other/page-title-module :: h2(object='')"></div>
</th:block>


<div layout:include="module/other/webmanga-setting-form :: webmanga-setting-form(object='${followflag}, ${freeflag}, ${medialist}, ${genrelist}, ${genreflag}, ${webmangafollowlist}')"></div>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<div class="container" layout:include="module/pagenation-module :: pagenation-module(object='${pages}')"></div>

<!--/* インフォリストモジュールを呼び出し（${infolist}を引数として渡す） */-->
<div class="container" layout:include="module/card/info-card-module :: info-card-module(object='${infolist}, ${likelist}')"></div>

<!--/* ページネーションモジュールを呼び出し（${pages}を引数として渡す） */-->
<div class="container" layout:include="module/pagenation-module :: pagenation-module(object='${pages}')"></div>

<!--</div>-->
</html>