<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
<link rel="stylesheet" th:href="@{/css/manga/list}">
<link rel="stylesheet" th:href="@{/css/manga/minilist.css}">
<title>まんが一覧</title>
</head>

<div layout:fragment="content">

    <div class="container">
    <div class="minimanga" th:each="manga : ${mangalist}">

    <!-- モジュール化 -->

    <div layout:fragment="module-vertical">

        <figure class="minimanga-module-calligrapy">
                <img th:src="@{/img/{path}/(path = ${manga.calligraphy})}">
        </figure>
        <div class="minimanga-body">
            <div class="minimanga-module-title" th:text="${manga.title}"></div>
            <div class="minimanga-module-author-container">
            <th:block th:if="!${#lists.isEmpty(manga.mangaAuthors)}" th:each="ma : ${manga.mangaAuthors}">
                <span class="minimanga-module-author" th:text="${ma.author.name}"></span>
            </th:block>
            </div>
            <div class="minimanga-module-volume" th:text="|${manga.volume}巻|"></div>

            <div class="minimanga-meta">
            <div class="minimanga-rating" th:if="!${#lists.isEmpty(manga.reviews)}">
                <span class="material-icons-outlined md-18">star</span>
            <div class="minimanga-module-rating" th:with=rating=${#aggregates.avg(manga.reviews.![rating])} th:text="${#numbers.formatDecimal(rating, 0, 'COMMA', 2, 'POINT')}"></div>
            </div>
            <div class="minimanga-review">
                <a th:href="@{/}">
                    <span class="material-icons-outlined md-18">chat</span>
                    <span class="minimanga-module-reviews" th:text="${manga.reviews.size}"></span>
                </a>
            </div>
            </div>

            <div class="minimanga-action">
                <span class="material-icons-outlined md-18">bookmark_add</span>
                <span class="minimanga-kininaru">気になる</span>
            </div>
        </div>

        </div>

    </div>
    </div>
</div>
</html>