<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="user-cover(user, forCoverList)">
    <div class="user-cover" th:with="size=${#lists.size(forCoverList)}">
        <th:block th:if="${size == 0}">
            <div class="author-cover" th:insert="~{module/other/user-cover :: user-cover-zero(user=${user}, forCoverList=${forCoverList})}"></div>
        </th:block>
        <th:block th:if="${size gt 0 and size lt 5}">
            <div class="author-cover" th:insert="~{module/other/user-cover :: user-cover-short(user=${user}, forCoverList=${forCoverList})}"></div>
        </th:block>
        <th:block th:if="${size ge 5}">
            <div class="author-cover" th:insert="~{module/other/user-cover :: user-cover-enough(user=${user}, forCoverList=${forCoverList})}"></div>
        </th:block>
    </div>
</th:block>


<!-- 本棚登録数がゼロの場合 -->
<th:block th:fragment="user-cover-zero(user, forCoverList)">
    <div class="default-user-cover">
        <img class="default-user-cover-logo" th:src="@{https://sake-man.com/system/logo_yoko_white_lined.png}">
        <p class="default-user-cover-text">会員No.[[${#numbers.formatInteger(user.id, 8)}]]</p>
        <th:block sec:authorize="isAuthenticated()">
        <th:block th:if="${user.id} == ${#authentication.principal.user.id}">
            <div class="default-user-cover-notice-container">
                <span class="material-icons-outlined md-16 md-LV">info</span>
                <span class="default-user-cover-notice">本棚に作品を登録すると ここにも表示されます</span>
            </div>
        </th:block>
        </th:block>
    </div>
</th:block>

<!-- 本棚登録数が1~5の場合 -->
<th:block th:fragment="user-cover-short(user, forCoverList)">
    <th:block th:each="i : ${#numbers.sequence(0, size-1)}">
        <figure class="">
            <a th:href="@{/manga/detail/__${forCoverList[i].id}__}">
                <img class="testimg" th:src="${#lists.size(forCoverList[i].calligraphy)==0} ?
                                     @{https://sake-man.com/system/noimage.jpg} :
                                     @{https://sake-man.com/calligraphy/__${forCoverList[i].calligraphy}__}">
            </a>
        </figure>
    </th:block>
</th:block>

<!-- 本棚登録数が5以上の場合 -->
<th:block th:fragment="user-cover-enough(user, forCoverList)">
    <th:block th:each="i : ${#numbers.sequence(0,4)}">
        <figure class="">
            <a th:href="@{/manga/detail/__${forCoverList[i].id}__}">
                <img class="testimg" th:src="@{https://sake-man.com/calligraphy/__${forCoverList[i].calligraphy}__}">
            </a>
        </figure>
    </th:block>
</th:block>

</html>