<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="webmanga-setting-form(followflag, freeflag, medialist, genrelist, genreflag, webmangafollowlist)">
    <div  class="webmanga-genres-container">

        <form id="web-manga-filter-form" th:action="@{/web-manga-update-info}" method="post">
            <!-- 新しいボタン
            <div class="webmanga-setting-myset-btn">
                <input type="checkbox" id="webmanga-settings-myset">
                <label  class="webmanga-setting-myset" for="webmanga-setting-myset"
                        th:classappend="${freeflag != 0 or followflag != 0 or !genreflag.contains(0) ? 'webmanga-settings-modified' : ''}">
                    <span   th:if="${freeflag != 0 or followflag != 0 or !genreflag.contains(0)}"
                            class="material-icons-outlined md-18 md-BK"
                            th:text="check">
                    </span>
                    <span class="webmanga-settings-text">マイセット</span>
                </label>

                <input type="checkbox" id="webmanga-settings-popup">
                <label  class="webmanga-setting-popup-open webmanga-settings" for="webmanga-settings-popup">
                    <span class="material-icons-outlined md-18 md-BK">settings</span>
                </label>
                -->

                <input type="checkbox" id="webmanga-settings-popup">
                <label  class="webmanga-setting-popup-open webmanga-settings clickable" for="webmanga-settings-popup"
                        th:classappend="${freeflag != 0 or followflag != 0 or !genreflag.contains(0) ? 'webmanga-settings-modified' : ''}">
                    <span   class="material-icons-outlined md-18 md-BL"
                            th:text="${freeflag != 0 or followflag != 0 or !genreflag.contains(0) ? 'check' : 'tune'}">
                    </span>
                    <span class="webmanga-settings-text">マイセット</span>
                </label>

                <div class="webmanga-setting-popup-overlay">
                    <div class="webmanga-setting-popup-window">
                        <label class="webmanga-setting-popup-close" for="webmanga-settings-popup">
                            <div class="webmanga-setting-icon close-icon">
                                <span class="material-icons-outlined md-16 md-BK">close</span>
                            </div>
                        </label>
                        <div class="webmanga-setting-popup-content">
                            <div th:if="${#authorization.expression('isAnonymous()')}" class="notion-container">
                                <div class="notion-register">
                                    <div class="notion-text-container">
                                        <i class="uil uil-comment-exclamation md-16 md-PL"></i>
                                        <div class="notion-text">マイセット機能は会員限定の機能です<br>お気に入りのセッティングを保存することができます♫</div>
                                    </div>
                                    <a th:href="@{/signup}">
                                        <div class="btn-notion">会員登録はこちら</div>
                                    </a>
                                </div>
                            </div>

                            <th:block th:unless="${#authorization.expression('isAnonymous()')}">
                                <div class="webmanga-setting-popup-title-container">[[${#authentication.principal.user.username}]]の設定</div>
                            </th:block>
                            <div class="webmanga-setting-toggle-switch-container">
                                <div class="webmanga-setting-row-container">
                                    <div class="webmanga-setting-row-title">
                                        <div class="webmanga-setting-icon">
                                            <span class="material-icons-outlined md-14 md-WH">currency_yen</span>
                                        </div>
                                        <div class="webmanga-setting-popup-text">無料のみ表示</div>
                                    </div>
                                    <div class="webmanga-setting-toggle">
                                        <input type="checkbox" id="free-toggle" class="webmanga-setting-toggle-input" name="freeflag" value="1" th:checked="${freeflag == 1}">
                                        <label for="free-toggle" class="webmanga-setting-toggle-slider"></label>
                                    </div>
                                </div>

                                <div class="webmanga-setting-row-container">
                                    <div class="webmanga-setting-row-title">
                                        <div class="webmanga-setting-icon">
                                            <span class="material-icons-outlined md-14 md-WH">bookmark</span>
                                        </div>
                                        <div class="webmanga-setting-popup-text">フォローのみ表示</div>
                                    </div>
                                    <div class="webmanga-setting-toggle">
                                        <input type="checkbox" id="follow-toggle" class="webmanga-setting-toggle-input" name="followflag" value="1" th:checked="${followflag == 1}">
                                        <label for="follow-toggle" class="webmanga-setting-toggle-slider"></label>
                                    </div>
                                </div>

                                <div class="webmanga-setting-row-container">
                                    <div class="webmanga-setting-row-title">
                                        <div class="webmanga-setting-icon">
                                            <span class="material-icons-outlined md-14 md-WH">auto_awesome</span>
                                        </div>
                                        <div class="webmanga-setting-popup-text">読切は常にぜんぶ表示</div>
                                    </div>
                                    <div class="webmanga-setting-toggle">
                                        <input type="checkbox" id="oneshot-toggle" class="webmanga-setting-toggle-input" name="oneshotflag" value="1" th:checked="${oneshotflag == 1}">
                                        <label for="oneshot-toggle" class="webmanga-setting-toggle-slider"></label>
                                    </div>
                                </div>

                                <div class="webmanga-setting-row-container">
                                    <div class="webmanga-setting-row-title">
                                        <div class="webmanga-setting-icon">
                                            <span class="material-icons-outlined md-14 md-WH">category</span>
                                        </div>
                                        <div class="webmanga-setting-popup-text">ジャンル（複数選択可）</div>
                                    </div>
                                    <label class="webmanga-genres-select-all">
                                        <input id="selectAllGenres" type="checkbox" class="clickable">
                                        <span>ぜんぶ</span>
                                    </label>
                                </div>
                                <div class="webmanga-settings-items">
                                    <div class="webmanga-genres-item clickable" th:each="genre : ${genrelist}">
                                        <label>
                                            <input class="webmanga-genres-checkbox-inform" type="checkbox"
                                                   th:name="genres"
                                                   th:id="'form-genres-' + ${genre.id}"
                                                   th:value="${genre.id}"
                                                   th:checked="${#lists.contains(genreflag, genre.id)}">
                                           <span th:text="${genre.name}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="webmanga-setting-btn-container">
                                <label class="webmanga-setting-popup-close btn-cancel clickable" for="webmanga-settings-popup">
                                    キャンセル
                                </label>
                                <input class="btn-filter clickable" type="submit" value="設定する" th:disabled="${#authorization.expression('isAnonymous()')}">
                            </div>
                        </div>
                    </div>
                </div>

            <!--</div>-->
        </form>

        <div class="webmanga-genres-item clickable" th:each="genre:${genrelist}">
            <label>
                <input class="webmanga-genres-checkbox-outer"
                       type="checkbox"
                       th:name="genres"
                       th:id="'alert-popup-genres-' + ${genre.id}"
                       th:value="${genre.id}"
                       th:checked="${#lists.contains(genreflag, genre.id)}"
                       th:data-anonymous="${#authorization.expression('isAnonymous()')}">
                <span th:text="${genre.name}"></span>
                <th:block sec:authorize="!isAuthenticated()">
                    <div class="alert-popup-overlay">
                        <div class="alert-popup-window">
                            <div class="alert-popup-container">
                                <i class="uil uil-comment-exclamation md-16 md-PL"></i>
                                <div class="alert-popup-text-container">
                                    <div class="alert-popup-text">マイセット機能は会員限定の機能です</div>
                                </div>
                            </div>
                            <a th:href="@{/signup}">
                                <div class="btn-alert">会員登録する（無料）</div>
                            </a>
                            <label class="alert-popup-close" th:for="'alert-popup-genres-' + ${genre.id}">
                                <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                    <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
                                    <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
                                </svg>
                            </label>
                        </div>
                    </div>
                </th:block>
            </label>
        </div>
    </div>
</th:block>

</html>