@charset "UTF-8";

/* .container {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    padding: 0;
} */

.minimanga {
    width: 108px;
    background-color: #ffffff;
    border: solid 1px #dedede;
    border-radius: 8px;
}

.minimanga-module-calligrapy {
    height: 170px;
    margin-bottom: 8px;
}

.minimanga-module-calligrapy img {
    width: 108px;
    border-radius: 8px 8px 0 0;
    flex-shrink: 0;
}

.minimanga-body {
    padding: 0 8px;
/*     overflow: hidden;
 */    display: flex;
    flex-direction: column;
}

.minimanga-module-title {
    font-size: 12px;
    font-weight: 550;
    color: #222222;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.minimanga-module-author-container {
    display: flex;
    overflow: hidden;
    column-gap: 4px;
    text-overflow: ellipsis;
}

.minimanga-module-author {
    font-size: 10px;
    color: #222222;
    margin: 0 0 8px 0;
    white-space: nowrap;

}

.minimanga-module-volume {
    font-size: 10px;
    color: #222222;
    margin: 0 0 8px 0;

}

.minimanga-module-rating {
    font-size: 12px;
    font-weight: bold;
    color: #222222;
}

.minimanga-rating {
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
}

.minimanga-rating span{
    color: #FFBA1A;
}

.minimanga-review {
    display: inline-flex;
    align-items: center;
    margin-bottom:8px;
}

.minimanga-module-reviews {
    font-size: 12px;
}

.minimanga-review span {
    color: #4f96f6;
}

.minimanga-action {
    display: inline-flex;
    justify-content: center;
    column-gap: 4px;
    align-items: center;
    width: 89px;
    margin-bottom: 12px;
    border: solid 1px #dedede;
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px;
}

.minimanga-action span {
    display: inline-block;
}

.minimanga-kininaru {
    font-size: 12px;
}

.minimanga-review a {
    display: block;
    margin-left: 8px;
}

.minimanga-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}