@charset "UTF-8";

.userlist-card-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
}

.userfollow-toggle {
    align-items: top;
}

.userlist-module-head-user {
    display: flex;
    column-gap: 16px;
}

.userlist-module-head-user-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: solid 1px #dedede;
    border-radius: 20px;
}

.userlist-module-head-user-title {
    margin: 0;
    font-size: 11px;
    color: #595959;
    background-color: #E1D8F0;
    border-radius: 8px;
    padding: 2px 8px;
    display: flex;
    width: fit-content;
}

.userlist-module-head-user-name,
.userlist-module-head-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}




