<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/admin-layout}">

<head>
</head>

<div layout:fragment="content">

    <h2>管理者用ページ</h2>
    <h3>登録著者 一覧</h3>
    <form method="get" th:action="@{/admin/author/register}">
        <input type="submit" value="新規登録"/>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>著者名</th>
            <th>作品名</th>
            <th>操作</th>
        </tr>
        <tr th:each="author : ${authorlist}">
            <td th:text="*{author.id}"></td>
            <td th:text="*{author.name}"></td>
            <td>
                <th:block th:if="!${#lists.isEmpty(author.mangaAuthors)}">
                <th:block th:each="mangaAuthors : ${author.mangaAuthors}">
                    <p th:text="${mangaAuthors.manga.title}"></p>
                </th:block>
                </th:block>
            </td>
            <td><a class="btn-primary" th:href="@{/admin/author/detail/{id}/(id=${author.id})}">詳細</a></td>
        </tr>
    </table>
</div>
</html>