<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/admin-layout}">

<head>
</head>

<div layout:fragment="content">

    <h2>ジャンル 新規登録</h2>
    <a class="btn-primary" th:href="@{/admin/genre/list}">一覧に戻る</a>

    <form class="admin-form" method="post" th:action="@{/admin/genre/register}" th:object="${genre}">
    <table class="form-table">
    <tr>
        <th><label for="title">ジャンル名</label></th>
        <td>
            <input type="text" th:field="*{name}" th:errorclass="err">
            <span th:errors="*{name}" class="err"></span>
        </td>
    </tr>
    <tr>
        <th><label for="tagId">タグID</label></th>
        <td>
            <select class="select2-tag" multiple="multiple" name="tagId">
                <option value="" th:text="タグを選んでください"></option>
                <th:block th:each="item : *{genreTags}">
                    <option selected th:value="${item.tag.id}" th:text="${item.tag.tagname}"></option>
                </th:block>
            </select><br>
            <span th:errors="*{id}" class="err"></span><br>
        </td>
    </tr>
    <tr>
        <th><label for="titleKana">表示順</label></th>
        <td>
            <input type="text" th:field="*{displayOrder}" th:errorclass="err">
            <span th:errors="*{displayOrder}" class="err"></span>
        </td>
    </tr>

    </table>

    <input type="submit" value="登録">
    </form>

</div>
</html>