<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!--/* 引数を受け取って呼ばれる（ object = ${infolist}, ${likelist} ） */-->
<th:block layout:fragment="btn-web-manga-follow(object)">

<th:block sec:authorize="isAuthenticated()">
    <th:block   th:unless="${mangaId} == 111111">
        <div    class="web-manga-follow-toggle"
                    th:with="mangaId=${mangaId}"
                    th:data-manga-id="${mangaId}">
                <span   class="material-icons-outlined md-24 md-GR"
                        th:classappend="${#lists.contains(webmangafollowlist, mangaId)} ? 'md-HL'"
                        th:text="${#lists.contains(webmangafollowlist, mangaId)} ? 'bookmark' : 'bookmark_add'">
                </span>
        </div>
    </th:block>
</th:block>

<th:block sec:authorize="!isAuthenticated()">
    <th:block   th:unless="${mangaId} == 111111">
        <input type="checkbox" id="alert-popup9">
        <label    class="alert-popup-open" for="alert-popup9"
                    th:with="mangaId=${mangaId}"
                    th:data-manga-id="${mangaId}">
                <span   class="material-icons-outlined md-24 md-GR"
                        th:classappend="${#lists.contains(webmangafollowlist, mangaId)} ? 'md-HL'"
                        th:text="${#lists.contains(webmangafollowlist, mangaId)} ? 'bookmark' : 'bookmark_add'">
                </span>
        </label>
        <div class="alert-popup-overlay">
            <div class="alert-popup-window">
            <div class="alert-popup-container">
                <i class="uil uil-comment-exclamation md-16 md-PL"></i>
                <div class="alert-popup-text-container">
                    <div class="alert-popup-text">フォローは会員限定の機能です！</div>
                    <div class="alert-popup-text">気に入った作品をフォローして、自分だけのWebまんが更新タイムラインを作りましょう！</div>
                    <div class="alert-popup-text">まるで自分だけのオリジナルまんが雑誌のよう！</div>
                </div>
            </div>
            <a th:href="@{/signup}">
                <div class="btn-alert">会員登録する（無料）</div>
            </a>
                <label class="alert-popup-close" for="alert-popup9">
                    <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
                        <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
                    </svg>
                </label>
            </div>
        </div>
    </th:block>
</th:block>



</th:block> <!--/* layout:fragment */-->

</html>