<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!--/* 引数を受け取って呼ばれる（ object = ${mangaId}, ${wantlist}, ${readlist} ） */-->
<th:block layout:fragment="btn-read-status-select(object)">

<div class="dropdown">
    <!--/* ボタン部分 */-->
    <button class="dropdown__btn minimanga-action"
            th:classappend="!${#lists.contains(readlist, umlist.manga.id)} ?
                            (${#lists.contains(wantlist, umlist.manga.id)} ?
                                    'btn-highlight' :
                                    '' ):
                                    'btn-purple' ">
        <span class="material-icons-outlined md-18 status-icon"
              th:text=  "!${#lists.contains(readlist, umlist.manga.id)} ?
                         (${#lists.contains(wantlist, umlist.manga.id)} ?
                                    'bookmark' :
                                    'bookmark_add') :
                                    'check_box' "
              th:classappend="  !${#lists.contains(readlist, umlist.manga.id)} ?
                                (${#lists.contains(wantlist, umlist.manga.id)} ?
                                     'md-WH' :
                                     'md-HL') :
                                     'md-WH' "></span>
        <span class="minimanga-kininaru status-text"
              th:text=" !${#lists.contains(readlist, umlist.manga.id)} ?
                        (${#lists.contains(wantlist, umlist.manga.id)} ?
                                     '気になる' :
                                     '気になる' ):
                                     '読んだ！' "
              th:classappend="  !${#lists.contains(readlist, umlist.manga.id)} ?
                                (${#lists.contains(wantlist, umlist.manga.id)} ?
                                      'md-WH' ):
                                      'md-WH' "></span>
    </button>
    <!--/* リスト部分 */-->
    <div class="dropdown__body">
        <ul class="dropdown__list">
            <th:block  th:each="item:${T(com.sakeman.entity.ReadStatus.Status).values()}">
                <li class="dropdown__item" th:value="${item}" th:text="${item}" th:data-id="${umlist.id}"></li>
            </th:block>
        </ul>
    </div>
</div> <!--/* ドロップダウンボタン */-->

</th:block> <!--/* layout:fragment */-->

</html>