<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<th:block th:fragment="btn-rating(manga)">

    <div class="shelf-rating-wrapper" th:data-manga-id="${manga.id}">
        <th:block th:each="i : ${#numbers.sequence(1, 5)}">
            <input type="radio"
                   th:id="|rating-shelf-${manga.id}_${i}|"
                   th:name="|rating-shelf-${manga.id}|"
                   th:value="${i}"
                   th:checked="${manga.userRating == i}">
            <label th:for="|rating-shelf-${manga.id}_${i}|">
                <span class="material-icons-outlined md-20"
                      th:classappend="${manga.userRating >= i} ? 'md-star' : 'md-AS'">
                    star
                </span>
            </label>
        </th:block>
    </div>

</th:block>

</html>