<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!--/* 引数を受け取って呼ばれる（ object = ${reviewlist}, ${likelist} ） */-->
<th:block layout:fragment="btn-like(object)">

<!--/* btn-like */-->

<div    class="btn-ia like-toggle"
        th:classappend="${#lists.contains(likelist, review.id)} ? 'md-HL'" th:data-review-id="${review.id}">
    <span class="material-icons-outlined md-24">favorite_border</span>
    <span class="btn-ia-text">[[${review.likes.size}]] いいね</span>
</div>

</th:block> <!--/* layout:fragment */-->

</html>