<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<th:block layout:fragment="btn-see-more(linkurl, pageobj)">

    <th:block th:if="${pageobj.totalElements > pageobj.size}">
        <div class="more-btn-container">
            <a th:href="@{__${linkurl}__}">
                <div class="more-btn">
                        <span class="more-btn-text">もっとみる</span>
                </div>
            </a>
        </div>
    </th:block>

</th:block> <!--/* layout:fragment */-->

</html>