<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<th:block th:fragment="btn-read-status-select(umlist, wantlist, readlist, allstatus)">

<th:block sec:authorize="isAuthenticated()">
    <div class="dropdown margin-cancel">
        <div class="dropdown__btn btn-read-status-mini"
                th:classappend="!${#lists.contains(readlist, umlist.id)} ?
                                (${#lists.contains(wantlist, umlist.id)} ?
                                        'btn-highlight' :
                                        '' ):
                                        'btn-purple' ">
            <span class="material-icons-outlined md-18 status-icon"
                  th:text=  "!${#lists.contains(readlist, umlist.id)} ?
                             (${#lists.contains(wantlist, umlist.id)} ?
                                        'bookmark' :
                                        'bookmark_add') :
                                        'check_box' "
                  th:classappend="  !${#lists.contains(readlist, umlist.id)} ?
                                    (${#lists.contains(wantlist, umlist.id)} ?
                                         'md-WH' :
                                         '' ) :
                                         'md-WH' "></span>
            <span class="status-text"
                  th:text=" !${#lists.contains(readlist, umlist.id)} ?
                            (${#lists.contains(wantlist, umlist.id)} ?
                                         '気になる' :
                                         '気になる' ):
                                         '読んだ！' "
                  th:classappend="  !${#lists.contains(readlist, umlist.id)} ?
                                    (${#lists.contains(wantlist, umlist.id)} ?
                                          'md-WH' ):
                                          'md-WH' "></span>
        </div>
        <div class="dropdown__body read-status-select">
            <ul class="dropdown__list">
                <th:block  th:each="item:${allstatus}">
                    <li class="dropdown__item" th:value="${item}" th:text="${item}" th:data-id="${umlist.id}"></li>
                </th:block>
            </ul>
        </div>
    </div> <!--/* ドロップダウンボタン */-->
</th:block>

<th:block sec:authorize="!isAuthenticated()">
    <input type="checkbox" id="alert-popup5">
    <label class="dropdown margin-cancel alert-popup-open" for="alert-popup5">
        <div class="dropdown__btn_inactive btn-read-status-mini"
                th:classappend="!${#lists.contains(readlist, umlist.id)} ?
                                (${#lists.contains(wantlist, umlist.id)} ?
                                        'btn-highlight' :
                                        '' ):
                                        'btn-purple' ">
            <span class="material-icons-outlined md-18 status-icon"
                  th:text=  "!${#lists.contains(readlist, umlist.id)} ?
                             (${#lists.contains(wantlist, umlist.id)} ?
                                        'bookmark' :
                                        'bookmark_add') :
                                        'check_box' "
                  th:classappend="  !${#lists.contains(readlist, umlist.id)} ?
                                    (${#lists.contains(wantlist, umlist.id)} ?
                                         'md-WH' :
                                         '') :
                                         'md-WH' "></span>
            <span class="status-text"
                  th:text=" !${#lists.contains(readlist, umlist.id)} ?
                            (${#lists.contains(wantlist, umlist.id)} ?
                                         '気になる' :
                                         '気になる' ):
                                         '読んだ！' "
                  th:classappend="  !${#lists.contains(readlist, umlist.id)} ?
                                    (${#lists.contains(wantlist, umlist.id)} ?
                                          'md-WH' ):
                                          'md-WH' "></span>
        </div>
    </label> <!--/* ドロップダウンボタン */-->
    <div class="alert-popup-overlay">
        <div class="alert-popup-window">
            <div class="alert-popup-container">
                <i class="uil uil-comment-exclamation md-16 md-PL"></i>
                <div class="alert-popup-text-container">
                    <div class="alert-popup-text">本棚機能は会員限定の機能です！</div>
                    <div class="alert-popup-text">会員登録するとマイページに本棚ができ、気になる作品や、読んだ作品などを整理することができます！</div>
                </div>
            </div>
            <a th:href="@{/signup}">
                <div class="btn-alert">会員登録する（無料）</div>
            </a>
            <label class="alert-popup-close" for="alert-popup5">
                <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
                    <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
                </svg>
            </label>
        </div>
    </div>
</th:block>

</th:block> <!--/* layout:fragment */-->

</html>