<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* 引数を受け取って呼ばれる（ object = ${mangalist} ） */-->
<div layout:fragment="manga-list-module(object)">

<!--/* カードモジュール */-->
<div class="card-outer" th:each="manga : ${mangalist}">

    <div class="manga-module-head">
        <!--/* 書影 */-->
        <div class="manga-module-calligraphy">
            <a th:href="@{/manga/{id}/(id=${manga.id})}">
                <img th:src="@{/img/{path}/(path = ${manga.calligraphy})}">
            </a>
        </div>
        <!--/* 基本情報 */-->
        <div class="manga-module-info-container">
            <a th:href="@{/manga/{id}(id=${manga.id})}">
                <span class="manga-module-title" th:text="${manga.title}"></span>
            </a>
            <div class="author-container">
                <th:block th:if="!${#lists.isEmpty(manga.mangaAuthors)}" th:each=" ma : ${manga.mangaAuthors}">
                <a th:href="@{/author/{id}(id=${ma.author.id})}">
                    <span class="manga-module-author" th:text="${ma.author.name}"></span>
                </a>
                </th:block>
            </div>
            <div class="manga-module-volume" th:text="|${manga.volume}巻|"></div>
            <div class="manga-module-rating-container">
                <th:block th:if="!${#lists.isEmpty(manga.reviews)}">
                    <span class="material-icons-outlined md-24 star">star</span>
                    <div class="manga-module-rating" th:with=rating=${#aggregates.avg(manga.reviews.![rating])} th:text="${#numbers.formatDecimal(rating, 0, 'COMMA', 2, 'POINT')}"></div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(manga.reviews)}">
                    <span class="material-icons-outlined md-24 md-dedede">star</span>
                    <div class="manga-module-rating disable">-.--</div>
                </th:block>
            </div>
            <div class="manga-module-review-container">
                <a th:href="@{/manga/{id}/review(id=${manga.id})}" class="test-a">
                    <th:block th:if="!${#lists.isEmpty(manga.reviews)}">
                        <i class="uil uil-comment-search md-24"></i>
                        <span class="manga-module-review" th:text="|${manga.reviews.size}件のレビューをみる|"></span>
                    </th:block>
                </a>
                <a th:href="@{/review/register}" class="test-a">
                    <th:block th:if="${#lists.isEmpty(manga.reviews)}">
                        <i class="uil uil-comment-edit md-24"></i>
                        <span class="manga-module-review" th:text="一番乗りレビューする"></span>
                    </th:block>
                </a>
            </div>
        </div>
    </div>

    <!--/* あらすじ */-->
    <div class="read-more-002">
        <p class="manga-module-synopsis">[[${manga.synopsis}]]</p>
        <label><input type="checkbox"/>...続きを読む</label>
    </div>

    <!--/* アクション */-->
    <div class="btn-ia-container">
        <div class="btn-ia">
            <i class="uil uil-shopping-cart" style="font-size: 24px;"></i>
            <span class="btn-ia-text">ストアでみる</span>
        </div>
        <!--/* 気になるボタンを呼び出し（${mangaId}, ${wantlist}, ${readlist}を引数として渡す） */-->
        <div class="" th:with="mangaId=${manga.id}" layout:include="module/btn/btn-read-status :: btn-read-status(object='${mangaId}, ${wantlist}, ${readlist}')"></div>
    </div>

</div> <!--/* outer */-->
</div> <!--/* layout:fragment */-->
</html>