<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* 引数を受け取って呼ばれる（ object = ${} ） */-->
<div layout:fragment="shelf-card-module(object)">

<div class="shelf-container">
    <div class="minimanga" th:each="umlist : ${usermangalist}">
        <figure class="minimanga-module-calligrapy">
                <img th:src="@{/img/{path}/(path = ${umlist.manga.calligraphy})}">
        </figure>
        <div class="minimanga-body">
            <div class="minimanga-module-title" th:text="${umlist.manga.title}"></div>
            <div class="minimanga-module-author-container">
            <th:block th:if="!${#lists.isEmpty(umlist.manga.mangaAuthors)}" th:each="ma : ${umlist.manga.mangaAuthors}">
                <span class="minimanga-module-author" th:text="${ma.author.name}"></span>
            </th:block>
            </div>
            <div class="minimanga-module-volume" th:text="|${umlist.manga.volume}巻|"></div>

            <div class="minimanga-meta">
                <div class="minimanga-rating">
                    <th:block th:if="!${#lists.isEmpty(umlist.manga.reviews)}">
                        <span class="material-icons-outlined md-16">star</span>
                        <div class="minimanga-module-rating" th:with=rating=${#aggregates.avg(umlist.manga.reviews.![rating])} th:text="${#numbers.formatDecimal(rating, 0, 'COMMA', 2, 'POINT')}"></div>
                    </th:block>
                    <th:block th:if="${#lists.isEmpty(umlist.manga.reviews)}">
                        <span class="material-icons-outlined md-16 md-dedede">star</span>
                        <div class="manga-module-rating disable">-.--</div>
                    </th:block>
                </div>
                <div class="minimanga-review">
                    <a th:href="@{/}">
                        <i class="uil uil-comment-lines"></i>
                        <span class="minimanga-module-reviews" th:text="${umlist.manga.reviews.size}"></span>
                    </a>
                </div>
            </div>

            <!--/* 気になるボタンを呼び出し（${manga.id}, ${wantlist}, ${readlist}を引数として渡す） */-->
            <th:block class="" layout:include="module/btn/btn-read-status-select :: btn-read-status-select(object='${usermangalist}, ${wantlist}, ${readlist}')"></th:block>

        </div>
    </div>
</div>

</div> <!--/* layout:fragment */-->
</html>