<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout-crud-userprof}">

<head>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/common/login.css}">

    <title>パスワード再設定 | サケマン</title>
</head>

<th:block layout:fragment="content">

    <th:block th:if="${verificationSuccess}">

        <div class="crud-userprof-title-bordered">
            <div class="crud-userprof-title">
                <h2>パスワードの再設定</h2>
            </div>
        </div>

        <div class="crud-userprof-message">
            <p>新しいパスワードを入力してください。</p>
        </div>

        <form class="crud-userprof-form" method="post" th:action="@{/reset-password}" th:object="${resetPasswordForm}">
            <div class="crud-userprof-labelbox">
                <input type="hidden" name="token" th:value="*{token}">

                <label class="crud-userprof-form-label" for="password1">新しいパスワード :</label>
                <span th:errors="*{password1}" class="crud-userprof-err"></span>
            </div>
            <input class="crud-userprof-form-input" type="password" th:field="*{password1}">

            <div class="crud-userprof-labelbox">
                <label class="crud-userprof-form-label" for="password2">新しいパスワード (確認用) :</label>
                <span th:errors="*{password2}" class="crud-userprof-err"></span>
            </div>
            <input class="crud-userprof-form-input" type="password" th:field="*{password2}" placeholder="パスワードを再入力してください">

            <input class="crud-userprof-btn" type="submit" value="パスワード再設定">
        </form>
    </th:block>

    <th:block th:unless="${verificationSuccess}">

        <div class="crud-userprof-title-bordered">
            <div class="crud-userprof-title">
                <h2>認証エラー</h2>
            </div>
        </div>

        <div class="crud-userprof-message">
            <p>リンクが無効または期限切れです。<br>以下のリンクから再手続をしてください。</p>
        </div>

        <a th:href="@{/reset-password-request}">パスワードを再設定する</a>
   </th:block>

</th:block>
</html>
