<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout-crud-userprof}">

<head>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/common/login.css}">

    <title>パスワード再設定 | サケマン</title>
</head>

<th:block layout:fragment="content">

    <div class="crud-userprof-title-bordered">
        <div class="crud-userprof-title">
            <h2>パスワードの再設定</h2>
        </div>
    </div>

    <div class="crud-userprof-message">
        <p>登録したメールアドレスを入力してください。<br>パスワード再設定用のリンクをお送りします。</p>
    </div>

    <form class="crud-userprof-form" method="post" th:action="@{/reset-password-request}" th:object="${sendEmailForm}">
        <div class="crud-userprof-labelbox">
            <label class="crud-userprof-form-label" for="email">登録メールアドレス :</label>
            <span th:errors="*{email}" class="crud-userprof-err"></span>
        </div>
        <input class="crud-userprof-form-input" type="text" th:field="*{email}">

        <input class="crud-userprof-btn" type="submit" value="メールを送信">
    </form>

</th:block>
</html>
